<!-- Addons Section -->
<div class="orders-section">
  <h3>Add Sub Category</h3>
</div>
<!-- Orders Listing -->
<div class="orders-list-section table-responsive">
  <table>
    <tr>
      <td>
        Select Category
      </td>
      <td>
        <ul>
        </ul>
        <select [(ngModel)]="selectedCat" (change)="catSelect($event.target.value)">
                    <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
                </select>
      </td>
    </tr>
    <tr>
      <td>
        <h5>Sub Category Name : </h5>
      </td>
      <td>
        <input type="text" id="sub-inp" [(ngModel)]='subName'>
      </td>
    </tr>
    <tr>
      <td>
        <p class="err"></p>
      </td>
    </tr>
    <tr>
      <td>
        <button class="submit-btns" (click)='submitSubCat(selectedCat,subName)'>SUBMIT</button>
      </td>
    </tr>
  </table>
  <table class="table-striped view-sub-table">
    <tr *ngFor="let sub of subsOfCat">
      <td>
        {{sub}}
      </td>
      <td>
        <i class="fa fa-times cat-close-btn" aria-hidden="true" (click)="deleteSubFromCategory(sub)"></i>
      </td>
    </tr>
  </table>
</div>