.sch-col-one{
  z-index: 2;
}
.sc-ch-db{
  z-index: 3;
  position: absolute;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.time-up-db{
  z-index: 7;
  position: fixed;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
}
.timeup-core{
  color: #fff;
  text-align: center;
}
.timeup-core p{
  font-size: 130%;
  margin-bottom: 30px;
}

.added-db{
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
/* .added-wb{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  border-radius: 4px;
  background-color: #fff;
  color: #777;
} */
.added-wb{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  border-radius: 4px;
  background-color: #fff;
  color: #777;
}
.added-wb h3{
  font-size: 200%;
}

.main-header .container {
  width: 90%;
}
.det-ul{
  margin-left: 50px;
}

/* Today select */
.today-menu-back{
   z-index: 100;
   position: fixed;
   display: flex;
   display: none;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.7);
   justify-content: center;
   align-items: center;
   flex-direction: row;
}
.today-core{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  height: 270px;
  width: 500px;
  padding: 30px 0px;
  border-radius: 4px;
}
.today-core label{
  position: relative;
  display: block;
  height: 30px;
  width: 90%;
  color: #666;
}
.today-btns{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  margin-top: 30px;
}
.today-btns button{
  height: 40px;
}
.today-core .fa-times{
  position: absolute;
  display: block;
  top:4%;
  left: 94%;
  /* font-size: 90%; */
  color: #666;
  cursor: pointer;
}
.today-core .fa-times:hover{
  color: #fa0000;
}
.today-core select{
  outline: none !important;
  position: relative;
  display: block;
  height: 35px;
  width: 100%;
  font-size: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-weight: normal;
}
.today-core .today-btns{
  display: flex;
  align-items: center;
  justify-content: center;
}
.today-core .sc-ch-add-btn{
  width: 220px;
}
#letter-label{
  font-weight: normal;
  margin-top: 10px;
  font-size: 85%;
}
.main-container {
  margin-top:70px;
  padding-top: 30px;
  background-color: #F2F5F6;
  background-image: url('../../assets/img/mbg.png');
  background-size: auto;
  padding-bottom: 20px !important;
  /* filter: sepia(10%); */
  /* background-repeat: repeat; */
}

.main-container .container {
  width: 90%;
}

.scroll-login-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}

.scroll-login-div .sc-ul {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
}

.scroll-login-div .sc-ul>li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.scroll-login-div .sc-ul .dropdown-menu {
  position: absolute;
  top: 140%;
}

.scroll-login-div .sc-ul .dropdown-menu li {
  width: 100%;
}

.scroll-login-div .sc-ul .dropdown-menu li a {
  width: 100%;
  cursor: pointer;
}

.slot-select{
  outline: none;
  height: 30px;
  width: 200px;
}
button{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Filters section */

.filter-div {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
  height: 50px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  overflow: visible;
}

.filter-div div {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  height: 100%;
  width: 33.333%;
  margin: 0;
  overflow: visible;
}
.date-filter-div,
.filter-type-div,
.filter-filter-div {
  position: relative;
  display: block;
  overflow: visible;
}

.date-filter-div .dropdown-menu,
.filter-type-div .dropdown-menu,
.filter-filter-div .dropdown-menu {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
.menu-title-div{
  position: relative;
  display: block;
  text-align: center;
}
.menu-title {
  position: relative;
  display: inline-block;
  font-size: 150%;
  margin: 0px auto 25px auto;
  text-align: center;
}
.menu-title::before{
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0%;
  top:50%;
  transform: translate(-120%,-50%);
}
.menu-title::after{
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.6);
  left: 100%;
  top:50%;
  transform: translate(20%,-50%);
}
/* Check boxes in sch menu */

.checks{
  display: none;
}

label{
  cursor: pointer;
}

/* Menu item */

.menu-item {
  flex: 1;
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  /* height: 400px; */
  height: 400px;
  width: 380px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.item-image {
  position: relative;
  display: block;
  margin: 0;
  /* height: 67%; */
  height: 60%;
  width: 100%;
  /* background-image: url('../assets/menu-img/food.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}
.sold-db{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.sold-db h5{
  font-size: 150%;
  font-weight: bold;
}
.item-announcement {
  position: absolute;
  /* display: block; */
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 4px 0px;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: rgba(109, 169, 66, 0.9);
  color: #fff;
}
.item-announcement h5{
  font-weight: bold;
}

.item-dets-div {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  margin: 0px 0 0 0;
  height: 40%;
  width: 100%;
  background-color: #fff;
}

.item-name-div {
  position: relative;
  display: block;
  width: 90%;
}

.item-name {
  text-align: left;
  font-size: 120%;
  margin-bottom: 10px;
  margin-top: 25px;
}
.item-conts-div{
  position: relative;
  display: block;
  width: 90%;
}
.item-conts-div h5{
  font-size: 90%;
  text-align: left;
}




.item-dets {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row; */
  width: 90%;
  margin-top: 0px;
}
.item-dets .pull-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.item-price {
  font-size: 110%;
}

.incl-tax {
  font-size: 80%;
}
.remove-t-item-btn{
  display: none;
  font-size: 110%;
  background-color: transparent;
  color: #6DA942;
  border: 1px solid #6DA942;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.item-add-btn {
  font-size: 110%;
  background-color: #6DA942;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.item-add-btn:hover {
  background-color: #588835;
}
.plan-lunch-title{
  position: relative;
  display: block;
  text-align: center;
  font-size: 140%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.schedule-rep-btn {
  position: relative;
  display: block;
  width: 250px;
  height: 40px;
  margin: 10px auto;
  /* background-color: #353637; */
  background-color: #6DA942;
  color: #fff;
  border: none;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
} 

.schedule-rep-btn:hover {
  /* background-color: #D84656; */
  /* background-color: #494a4b; */
  background-color: #588835;
}


.sc-ch-item img{
  height: 60px;
  width: 60px;
}



/* Hover Basket */

.hover-basket-div {
  z-index: 7;
  position: fixed;
  display: block;
  top: 91%;
  left: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 50px;
  width: 200px;
  border-radius: 50px;
  cursor: pointer;
}

.hover-basket-div .span {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.hover-basket-div h6 {
  position: relative;
  font-size: 105%;
}

.hover-basket-number {
  position: absolute;
  top: -10px;
  left: -45%;
  margin-left: 10px;
  background-color: #fa0000;
  padding: 5px 10px;
  border-radius: 50%;
}

.shop-basket-icon {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  top: 0;
  left: -10px;
  background-color: #6DA942;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.shop-basket-icon:hover{
  background-color: #588835;
}

.fa-arrow-right {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}


/* Schedule menu styles */

.schedule-menu-back {
  z-index: 100;
  position: fixed;
  display: flex;
  display: -webkit-flex;
  display: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
}

.sch-close-btn {
  z-index: 100;
  position: absolute;
  display: block;
  color: #fff;
  top: 0%;
  left: 93%;
  font-size: 260%;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


/* Schedule menu left */

.schedule-menu-left {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 30%;
}

.calender-core {
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  height: 350px;
  width: 300px;
  overflow: hidden;
}

.calender-core ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.calender-core ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  border-bottom: 1px solid #666;
  cursor: pointer;
}


/* Schedule menu right */

.schedule-menu-right {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  height: 100%;
  width: 80%;
}

.schedule-choose-core {
  position: relative;
  height: 95%;
  width: 80%;
  background-color: #fff;
  border-radius: 4px;
}


/* Top div */

.sc-ch-item-name {
  font-size: 100%;
  font-weight: normal;
  color: #444;
}

.sc-ch-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-content: space-between; */
  top: 0;
  margin: 0;
  height: 10%;
  width:100%;
  padding: 0 40px;
}

.sc-ch-top .pull-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

.sc-ch-top .pull-right {
  position: relative;
  display: flex;
  display: -webkit-flex;
  width: 35%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding-left: 30px;
}

.sc-ch-price {
  color: #888;
  font-size: 80%;
}

.sc-ch-price-num {
  font-size: 200%;
}

.sc-ch-num {
  margin: 0 10px;
}

.sc-ch-num-btns-div {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
}

.sc-ch-num-btn {
  border: 1px solid #323232;
  background: transparent;
  border-radius: 2px;
  width: 30px;
}


.sc-ch-mid{
  display: none;
}

.sc-ch-ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 80%;
  width: 90%;
  margin: 0 5%;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sc-ch-ul>li {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.roti-div,
.mini-meals-div,
.large-div {
  display: none;
}


/* Middle div */

.sc-ch-mid-heads {
  font-weight: bold;
}

.sc-ch-menu-divs {
  position: relative;
  display: block;
  overflow-x: scroll;
  margin: 20px auto;
}

.sc-ch-menu-divs li {
  margin-left: 20px;
}

.sc-ch-menu-divs li .sc-ch-item {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sc-ch-menu-divs li .sc-ch-item img {
  margin-bottom: 10px;
}

.sch-note-div {
  margin: 10px 0;
  padding: 5px 10px;
  height: 15%;
  overflow: hidden;
}

.sc-ch-textarea {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #666;
  font-size: 90%;
  resize: none;
  /* height: 25px; */
  color: #666;
  padding: 10px 10px;
}

/* Bottom div */
.sc-ch-btm {
  position: relative;
  display: flex;
  display: -webkit-flex;
  height: 10%;
  width: 100%;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
  padding: 0 40px;
  overflow: hidden;
}
.sc-ch-btm .sc-ch-add-btn{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.sc-ch-cancel-btn,
.sc-ch-add-btn {
  
  width: auto;
  border-radius: 4px;
  border: none;
  padding: 0 30px;
}

.sc-ch-cancel-btn {
  background-color: #fff;
  height: 40px;
  color: #444;
  margin-right: 20px;
  border: 1px solid #444;
}

.sc-ch-add-btn {
  color: #fff;
  background-color: #6DA942;
  cursor: pointer;
  height: 40px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.sc-ch-add-btn:hover {
  background-color: #588835;
}
/* Sch hover basket */
.sc-hover-basket-div{
  /* z-index: 7; */
  /* position: fixed; */
  position: relative;
  display: block;
  margin-left: 30px;
  /* top: 91%;
  left: 8%; */
  background-color: rgba(0, 0, 0, 0.6);
  height: 40px;
  width: 150px;
  border-radius: 50px;
  cursor: pointer;
}
.sc-hover-basket-div .shop-basket-icon{
  height: 40px;
  width: 40px;
}
.sc-hover-basket-div .span {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.sc-hover-basket-div h6 {
  position: relative;
  font-size: 105%;
}

.sc-hover-basket-div .hover-basket-number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: -45%;
  margin-left: 10px;
  background-color: #fa0000;
  height: 20px;
  width: 20px;
  padding: 0;
  border-radius: 50%;
}

/* Basket button for mobiles */

.mob-basket-div {
  z-index: 10;
  position: fixed;
  display: block;
  bottom: 0;
  height: 50px;
  width: 100vw;
  background-color: #F04F60;
  color: #fff;
  box-shadow: 0 -4px 20px 1px rgba(0, 0, 0, 0.2);
}

.mob-basket-div a {
  position: relative;
  display: flex;
  display: -webkit-flex;
  height: 100%;
  width: 100%;
  color: #fff;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  text-decoration: none;
}

.mob-basket-div a .fa-shopping-basket {
  margin-right: 10px;
  font-size: 130%;
}

.mob-basket-div a h6 {
  font-size: 120%;
  font-weight: normal;
}

.mob-hover-basket-number {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  background-color: #fa0000;
  color: #fff;
  padding: 5px 10px;
}
.selected-date-li{
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.added-date-li{
   background-color: #000;
   color: #fff;

}


/* Extra Small Devices, .visible-xs-* */


/* @media (max-width: 480px) {} */

@media (max-width: 767px) {
  .menu-title {
    font-size: 120%;
  }
  .col-md-4 {
    margin-bottom: 20px;
  }
  .menu-item {
    margin: 0 auto;
    max-width: 70vw;
  }
  .main-footer {
    margin-bottom: 40px;
  }
  .date-filter-div .dropdown-menu {
    position: absolute;
    left: -10%;
    min-width: 80px !important;
  }
  .filter-type-div .dropdown-menu {
    position: absolute;
    left: 0%;
    min-width: 80px !important;
  }
  .filter-filter-div .dropdown-menu {
    position: absolute;
    left: 0%;
    min-width: 80px !important;
  }
  .filter-div .btn {
    font-size: 80%;
  }
  .main-container {
    padding-top: 80px;
  }
}


/* Small Devices, .visible-sm-* */

@media (min-width: 768px) and (max-width: 991px) {
  .menu-title {
    font-size: 120%;
  }
  .col-md-4 {
    margin-bottom: 20px;
  }
  .menu-item {
    margin: 0 auto;
    max-width: 70vw;
  }
  .main-footer {
    margin-bottom: 40px;
  }
}


/* Medium Devices, .visible-md-* */

@media (min-width: 992px) and (max-width: 1199px) {
  .menu-item {
    width: 300px;
  }
}


/* Large Devices, .visible-lg-* */

@media (min-width: 1200px) {}

