<!-- Det Title Div-->
<div class="det-title-div">
  <div class="det-title-core">
    <h2 class="det-title">Saved Addresses</h2>
  </div>
</div>

<!-- Det core div -->
<div class="dets-core">

  <div class="addresses-core">

      <div class="address-item" *ngFor='let address of addresses; let i = index'>
      <div class="address-top">
        <h4 class="address-name">OFFICE {{i+1}}</h4>
        <div class="address-options">
          <i class="fa fa-pencil" aria-hidden="true" (click)='editAddress(i,address)'></i>
          <i class="fa fa-times" aria-hidden="true" (click)='addressDelete($event,address)'></i>
        </div>
      </div>
      <div class="address">
        <h6>{{address}}</h6>
      </div>
    </div>


    

    <div class="add-address" (click)='addAddress($event)'>
      <h5>Locate new address</h5>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </div>
  </div>
</div>