.db,.wb{
    z-index: 20;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.db{
    display: none;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.wb{
    height: 300px;
    width: 400px;
    border-radius: 4px;
    background-color: #fff;
}
.wb h2{
    font-size: 140%;
    margin-bottom: 20px;
}
.wb textarea{
    resize: none !important;
    outline: none !important;
    height: 150px;
    width: 250px;
}
.wb .fa{
    position: absolute;
    top:5%;
    left:92%;
    cursor: pointer;
}