<!-- Menu Listing -->
<div class="orders-list-section table-responsive">

  <!-- Add menu -->
  <h3>Add Item</h3>


  <table id="add-item-table">
    <tr>
      <td>
        <h4>Choose Category</h4>
      </td>
    </tr>
    <tr>
      <td>
        <select class="option" [(ngModel)]="selectedCat" (change)="catSelect($event.target.value)">
                        <option value="" disabled default="true">Choose Category</option>
                        <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
                    </select>
      </td>
    </tr>
    <tr>
      <td>
        <h4>Choose Sub Category</h4>
      </td>
    </tr>
    <tr *ngIf='catSelected == "true"'>
      <td>
        <select [(ngModel)]="selectedSubCat" (change)="subCatSelect($event.target.value)">
                        <option value="" disabled default="true">Choose Sub Category</option>
                        <option *ngFor="let sub of subsOfCat" value="{{sub}}">{{sub}}</option>
                    </select>
      </td>
    </tr>
    <tr>
      <td>
        <h4>Item Name</h4>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="name" [(ngModel)]='itemName'>
      </td>
    </tr>
    <tr>
      <td>
        <h4>Item Price</h4>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="price" [(ngModel)]='itemPrice'>
      </td>
    </tr>
    <!-- <tr>
                <td>
                    <h4>Item Image</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" accept="image/*" id="file" name="File" />
                    <input formControlName="File" type="hidden" />
                </td>
            </tr> -->
    <tr>
      <td>
        <p class="err"></p>
      </td>
    </tr>
    <tr>
      <td>
        <button (click)='AddItem(itemName,itemPrice)' class="submit-btns">SUBMIT</button>
        <!-- <button class="submit-btns">SUBMIT</button> -->
      </td>
    </tr>

  </table>
  <table class="table-striped view-sub-table">
    <tr *ngFor="let item of items">
      <td>
        {{item.item_name}}
      </td>
      <td>
        <i class="fa fa-times cat-close-btn" aria-hidden="true" (click)="deleteItem(item._id)"></i>
      </td>
    </tr>
  </table>



</div>