<!-- Det Title Div-->
<div class="det-title-div">
  <div class="det-title-core">
    <h2 class="det-title">Reward Points</h2>
  </div>
</div>

<!-- Det core div -->
<div class="dets-core">
  <h5>Reward Points</h5>
  <h3 class="points">{{rewardPoints}}</h3>

  <div class="redeem-div container">
      <h3 class="redeem-head">Redeem your points</h3>
      <div class="redeem-points-div row">
          <div class="redeem-core col-md-4">
              <div class="redeem-top">
                  <h6>100 Point Rewards</h6>
              </div>
              <div class="redeem-main">
                  
                  <div class="redeem-amount">
                      <div class="redeem-number">

                          

                          <div class="red-num-in"><div class="redeem-dollar-sign">&#8377;</div><span class="redee">10</span></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="redeem-core col-md-4">
              <div class="redeem-top">
                  <h6>190 Point Rewards</h6>
              </div>
              <div class="redeem-main">
                  
                  <div class="redeem-amount">
                      <div class="redeem-number">
                          <div class="red-num-in"><div class="redeem-dollar-sign">&#8377;</div><span class="redee">20</span></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="redeem-core col-md-4">
              <div class="redeem-top">
                  <h6>360 Point Rewards</h6>
              </div>
              <div class="redeem-main">
                  
                  <div class="redeem-amount">
                      <div class="redeem-number">
                          <div class="red-num-in"><div class="redeem-dollar-sign">&#8377;</div><span class="redee">40</span></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>