 .points {
   font-size: 300%;
 }
.redeem-div {
  position: relative;
  display: block;
  width: 100% !important;
  margin: 0;
  padding: 10px 0;
}

.redeem-head {
  position: relative;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 150%;
  color: #666;
}

.redeem-points-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin : 0;
}

.redeem-core {
  position: relative;
  display: block;
  height: auto;
  /* width: 350px; */
}

.redeem-top {
  position: relative;
  display: flex;
  display: -webkit-flex;
  height: 10%;
  margin: 0;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background-color: #efefef;
  color: #666;
  font-weight: bold;
  font-size: 150%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.redeem-main {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  height: 88%;
  margin: 0;
  margin-top: 2%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.redeem-amount {
  position: relative;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  height: 300px;
  /* padding: 30px 0; */
  margin: 0;
  /* background-color: #fff; */
  background-color: #efefef;
}

.redeem-number {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /* background-color: #49AAFF; */
  background-color: #6DA942;;
  color: #fff;
  font-size: 400%;
}

.red-num-in {
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.redeem-dollar-sign {
  font-size: 50%;
}

.redeem-dets {
  position: relative;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 40%;
  margin: 0;
  padding: 10px 30px;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}

.redeem-dets h6 {
  margin: 0 0 5px 0;
  font-size: 105%;
  color: #3e3e3e;
  font-weight: bold;
}

.points-index-bar {
  position: relative;
  width: 100%;
  height: 7px;
  border-radius: 7px;
  background-color: #eee;
  margin: 20px auto 2px auto;
}

.points-away {
  font-size: 70%;
  color: #666;
  margin-top: 3px;
}

.redeem-btn {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #CCCCCC;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}

