@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|Open+Sans');
.main-container {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}


/* Main header */

.main-header {
  z-index: 8;
  position: relative;
  display: block;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: #232C33;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.main-header .container {
  height: 100%;
  width: 90%;
}

.main-logo,
.logout-div {
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  height: 100%;
}

.logo-text {
  margin: 0;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 340%;
  color: #fff;
}

.main-logout-btn {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 120%;
  margin-right: 30px;
}


/* Left index */

.left-menu {
  position: relative;
  display: block;
  background-color: #232C33;
  width: 20%;
  height: 90vh;
  color: #fff;
  margin: 0;
}

.left-menu li {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
  padding-left: 30px;
  border-left: 3px solid transparent;
  height: 50px;
  font-size: 120%;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.left-menu li:hover {
  cursor: pointer;
  background-color: #142026;
}

.left-menu .selected-li {
  border-left: 3px solid #4288BB;
  background-color: #142026;
}

.left-menu li i {
  margin-right: 20px;
}


/* Right dets */

.right-dets {
  position: relative;
  display: block;
  background-color: #EBEFF6;
  width: 80%;
  padding: 20px;
  height: 90vh;
  color: #fff;
  margin: 0;
  overflow-y: scroll;
}

.orders-section {
  position: relative;
  display: block;
  margin: 0;
}

.orders-section h3 {
  margin: 0 0 10px 0;
  color: #36AEBB;
}

.orders-core {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
}

.order-tabs-row-one,
.order-tabs-row-two {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.order-tab {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  flex-direction: column;
  margin: 20px;
  height: 100px;
}

.order-tab h4 {
  margin: 0;
  margin-left: 20px
}

.order-tab .order-tab-number {
  font-size: 200%;
  margin-bottom: 10px;
}

.order-tab-name {
  white-space: nowrap;
  font-size: 110%;
  font-weight: bold;
}


/* Coloring order tabs */


/* Row One */

#order-tab-one-one {
  background-color: #659BE0;
  border-bottom: 4px solid #6189C5;
}

#order-tab-one-two {
  background-color: #01A75B;
  border-bottom: 4px solid #0B8F51;
}

#order-tab-one-three {
  background-color: #F2C30E;
  border-bottom: 4px solid #D8B107;
}

#order-tab-one-four {
  background-color: #6BDE6F;
  border-bottom: 4px solid #69BB6C;
}


/* Row Two */

#order-tab-two-one {
  background-color: #01A75B;
  border-bottom: 4px solid #008944;
}

#order-tab-two-two {
  background-color: #32C5D2;
  border-bottom: 4px solid #26AAB3;
}

#order-tab-two-three {
  background-color: #DD4B39;
  border-bottom: 4px solid #C9432F;
}

#order-tab-two-four {
  background-color: #F29D12;
  border-bottom: 4px solid #D08711;
}


/* Orders Listing Section */

.orders-list-section {
  color: #1A1D26;
}

#sort-dropdown {
  margin-bottom: 20px;
}


/* Report page */

.orders-core .c-order-tab {
  display: flex;
  display: -webkit-flex;
  height: 100px;
  width: 340px !important;
  margin: 20px 0;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
  background-color: #fff;
  color: #000;
  border-radius: 3px;
  overflow: hidden;
}

.c-icon {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  color: #fff;
  font-size: 400%;
  width: 40%;
  height: 100%;
  margin: 0;
  background-color: #DD4B38;
}

.c-dets {
  width: 60%;
  height: 100%;
  margin: 0;
  background-color: #fff;
}

.c-tab-head,
.c-tab-det {
  position: relative;
  display: block;
  text-align: left;
  font-weight: bold;
  color: #000;
  margin: 10px 10px;
  font-size: 100%;
}

.c-tab-det {
  font-weight: normal;
  margin: 5px 10px;
}

.c-filter-div {
  position: relative;
  display: block;
  margin: 7px auto;
}

.c-btns {
  background-color: #EEAA3E;
  border: none;
  border-bottom: 2px solid #D0943A;
  color: #fff;
  border-radius: 3px;
}


/* Categories Page */

.dark-back {
  z-index: 100;
  position: fixed;
  display: flex;
  display: -webkit-flex;
  display: none;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.white-back {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  background-color: #fff;
  height: 60%;
  width: 50%;
}

#cat-input {
  border: 1px solid #eee;
  height: 35px;
  width: 300px;
  border-radius: 3px;
  padding: 0 5px;
}

.cat-submit-btn {
  border: none;
  background-color: #91022A;
  color: #fff;
  margin-top: 20px;
  height: 35px;
  width: 140px;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.orders-section label {
  display: block;
  color: #555;
  margin-top: 8px;
}

.orders-section input {
  color: #555;
}


/* Mobile ones */

.mob-menu-trig-btn {
  height: 100%;
  width: 60px;
  margin-right: 20px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 130%;
  outline: none;
}

.mob-main-logo {
  position: absolute;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.mob-main-logo .logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Mobile menu */

.mob-menu-admin {
  z-index: 10;
  position: fixed;
  display: block;
  top: 0;
  left: -50vw;
  width: 50vw;
  height: 100vh;
  background-color: #232C33;
  color: #fff;
}

.mob-menu-admin li {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
  padding-left: 30px;
  border-left: 3px solid transparent;
  height: 50px;
  font-size: 120%;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.mob-menu-admin li:hover {
  cursor: pointer;
  background-color: #142026;
}

.mob-menu-admin .selected-li {
  border-left: 3px solid #4288BB;
  background-color: #142026;
}

.mob-menu-admin li i {
  margin-right: 20px;
}

#add-item-table h4 {
  margin: 10px auto;
  text-align: left;
}

.submit-btns {
  margin: 10px auto;
  border: none;
  height: 30px;
  width: 150px;
  background-color: #e67e22;
  color: #fff;
}

.menu-add-table h5 {
  margin: auto 50px;
}

.menu-add-table label {
  font-weight: normal;
}

.menu-add-table .sc-ch-mid-heads {
  margin: 20px auto;
  font-weight: bold;
}

.menu-add-table tr {
  border-bottom: 1px solid #666;
}


/* Extra Small Devices, .visible-xs-* */


/* @media (max-width: 480px) {} */

@media (max-width: 767px) {
  .right-dets {
    width: 100%;
  }
  .order-tabs-row-one,
  .order-tabs-row-two {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .order-tab {
    width: 80%;
  }
}


/* Small Devices, .visible-sm-* */

@media (min-width: 768px) and (max-width: 991px) {}


/* Medium Devices, .visible-md-* */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Large Devices, .visible-lg-* */

@media (min-width: 1200px) {}

.add-menu-div {
  z-index: 100;
  position: fixed;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  color: #000;
}

