<!-- Menu Section -->
<div class="orders-section">
  <h3>Menu</h3>
  <!-- <div class="orders-core">
    <div class="order-tabs-row-one">
      <div class="order-tab" id="order-tab-one-one">
        <h4 class="order-tab-number">0</h4>
        <h4 class="order-tab-name">Total </h4>
      </div>
      <div class="order-tab" id="order-tab-one-two">
        <h4 class="order-tab-number">0</h4>
        <h4 class="order-tab-name">Active</h4>
      </div>
      <div class="order-tab" id="order-tab-one-three">
        <h4 class="order-tab-number">0</h4>
        <h4 class="order-tab-name">Deactive</h4>
      </div>
      <div class="order-tab" id="order-tab-one-four">
        <h4 class="order-tab-number">0</h4>
        <h4 class="order-tab-name">Popular</h4>
      </div>
    </div>
  </div> -->
</div>
<!-- Menu Listing -->
<div class="orders-list-section table-responsive">

  <!-- Add menu -->
  <h3>ADD MENU</h3>

  <select [(ngModel)]="dateSelected" (change)="selectedDate($event.target.value)">
    <option value="{{day_one | date:'fullDate'}}">{{day_one | date:'fullDate'}}</option>
    <option value="{{day_two | date:'fullDate'}}">{{day_two | date:'fullDate'}}</option>
    <option value="{{day_three | date:'fullDate'}}">{{day_three | date:'fullDate'}}</option>
    <option value="{{day_four | date:'fullDate'}}">{{day_four | date:'fullDate'}}</option>
    <option value="{{day_five | date:'fullDate'}}">{{day_five | date:'fullDate'}}</option>
    <option value="{{day_six | date:'fullDate'}}">{{day_six | date:'fullDate'}}</option>
    <option value="{{day_seven | date:'fullDate'}}">{{day_seven | date:'fullDate'}}</option>
</select>

  <br>
  <br>
  <div *ngIf="dateIsSelected == 'true'">
    <select [(ngModel)]="selectedCat" (change)="catSelect($event.target.value)" id="cat-select">
    <option value="" disabled default="true">Choose Category</option>
    <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
</select>

    <br>
    <br>

    <div *ngIf="catSelected == 'true'">
      <select [(ngModel)]="selectedSubCat" (change)="subCatSelect($event.target.value)" id="sub-cat-select">
        <option value="" disabled default="true">Choose Sub Category</option>
        <option *ngFor="let sub of subsOfCat" value="{{sub}}">{{sub}}</option>
    </select>
    </div>

    <br>
    <br>

    <div class="schedule-choose-core roti-div">

      <div *ngIf="subSelected == 'true'">
        <h4>Select Items</h4>

        <div *ngFor="let item of items">
          <label>
                <input type="checkbox" value="{{item.item_name}}" (change)="onCheckChange(dateSelected,item.cat_id,item.sub_name,item._id, $event.target.checked)">{{item.item_name}}
            </label>
        </div>


      </div>

    </div>
  </div>
  <button (click)='submitMenu()' class="submit-btns">SUBMIT</button>

  <table class="table-striped view-sub-table">
    <tr *ngFor="let cat of outCats">
      <td>
        {{cat.date}}
      </td>
      <td>
        {{cat.name}}
      </td>
      <td>
        <i class="fa fa-times cat-close-btn" aria-hidden="true" (click)="deleteDate(cat.date_id)"></i>
      </td>
    </tr>
  </table>
</div>