<!-- Det Title Div-->
<div class="det-title-div">
  <div class="det-title-core">
    <h2 class="det-title">Change Password</h2>
  </div>
</div>

<!-- Det core div -->
<div class="dets-core">
  <ul class="list-unstyled">
    <li class="">
      <label for="old-pwd">Old Password</label>
    </li>
    <li class="">
      <input type="password" name="old-pwd" id="old-pwd" [(ngModel)]='oldPassword' class="inputs" value="">
    </li>
    <li class="">
      <label for="new-pwd">New Password</label>
    </li>
    <li class="">
      <input type="text" name="new-pwd" class="inputs" [(ngModel)]='newPassword' id="new-pwd" value="">
    </li>
    <li class="">
      <label for="re-new-pwd">Retype New Password</label>
    </li>
    <li class="">
      <input type="text" name="re-new-pwd" class="inputs" [(ngModel)]='conNewPassword' id="re-new-pwd" value="">
    </li>
    <li>
      <p class="err"></p>
    </li>
  </ul>
  <div class="bottom-div">
    <div class="save-btns-div pull-left">
      <button type="button" class="save-btns" style="width:150px" (click)='changePwd()'>Update</button>
    </div>
    <div class="clearfix">
    </div>

  </div>
</div>