<ul>
    <li>
        <label>
            <input type="checkbox" value='tab_one' [checked]='tab_one_checked' (change)="onCheckChange('tab_one', $event.target.checked)"> Rajin-e ka Roti is Sold Out
        </label> 
    </li>
    <li>
        <label>
            <input type="checkbox" value='tab_two' [checked]='tab_two_checked' (change)="onCheckChange('tab_two', $event.target.checked)"> Kohil ka Khaana is Sold Out
        </label>
    </li>
    <li>
        <label>
            <input type="checkbox" value='tab_three' [checked]='tab_three_checked' (change)="onCheckChange('tab_three', $event.target.checked)"> Mode-e ka Meals is Sold Out
        </label>
    </li>
</ul>