@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.cdb{
  z-index: 10000;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:0;
  left:50%;
  width: 50vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.cdb h2{
  color: #fff;
  font-size: 250%;
}

a {
  text-decoration: none !important;
}

/* Typed font */

.typed-one,
.typed-two,.typed-three {
  font-weight: 300;
  letter-spacing: 1px;
  position: absolute;
  opacity: 0;
}
.typed-one #t-one-two{
  opacity: 0;
  animation: typedonetwoanime 10s ease-in infinite;
}
@keyframes typedonetwoanime{
  0%,100%{
    opacity: 0;
  }
  6%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  30%{
    opacity: 1;
  }
  33%{
    opacity: 0;
  }
  99%{
    opacity: 0;
  }
}
.typed-two #t-two-two{
  opacity: 0;
  animation: typedtwotwoanime 10s ease-in infinite;
}
@keyframes typedtwotwoanime{
  0%,100%{
    opacity: 0;
  }
  32%{
    opacity: 0;
  }
  38%{
    opacity: 0;
  }
  42%{
    opacity: 1;
  }
  63%{
    opacity: 1;
  }
  66%{
    opacity: 0;
  }
}
.typed-one{
  animation: typedoneanime 10s ease-in infinite;
}
.typed-two{
  animation: typedtwoanime 10s ease-in infinite;
}
.typed-three{
  animation: typedthreeanime 10s ease-in infinite;
}
@keyframes typedoneanime{
  /* Visible for 0%-33% */
  0%,100%{
    opacity: 1;
  }
  30%{
    opacity: 1;
  }
  33%{
    opacity: 0;
  }
  99%{
    opacity: 0;
  }
}
@keyframes typedtwoanime{
  /* Visible for 33%-66% */
  0%,100%{
    opacity: 0;
  }
  32%{
    opacity: 0;
  }
  38%{
    opacity: 1;
  }
  63%{
    opacity: 1;
  }
  66%{
    opacity: 0;
  }
}
@keyframes typedthreeanime{
  /* Visible for 66%-99% */
  0%,100%{
    opacity: 0;
  }
  65%{
    opacity: 0;
  }
  70%{
    opacity: 1;
  }
  93%{
    opacity: 1;
  }
  99%{
    opacity: 0;
  }
}

/* Fixed scroll header */

.scroll-header {
  z-index: 8;
  position: fixed;
  top: -100px;
  left: 0;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 70px;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  /* box-shadow: 0 0 2px 1px #999; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.scroll-header h1 {
  color: #000;
}

.scroll-header .location-input-div {
  position: relative;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  margin-top: 0px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.3);
}

.scroll-header .location-search-input {
  border: 1px solid #eaeaea;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.scroll-header .login-signup-trig-btn {
  border: none;
  color: #333;
  font-size: 110%;
  background-color: transparent;
  /* letter-spacing: 0.1px; */
}
.scroll-header .see-menu-btn{
  line-height: 0;
}

.fvp {
  background: transparent;
  background-image: url('../../assets/img/fvp.jpg');
  background-size: cover;
  box-shadow: inset 0 20px 50px 1px rgba(0, 0, 0, 1);
}

.dark-cover .container {
  width: 95%;
  height: 100%;
}


/* Main header */

.m-main-header {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  top: 0;
  margin-top: 0;
}


/* Main logo */

.main-logo {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  height: 100%;
  color: #fff;
}

.main-logo img {
  height: 60%;
  width: auto;
}


/* Main navigation bar */

.main-nav-div {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  height: 100%;
  color: #fff;
  font-size: 100%;
}

.main-nav-div > nav > ul > li {
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 1px;
  font-weight: 400;
  width: 140px;
  text-align: center;
}
.home-dropdown #menu1 {
  background-color: transparent;
  border: none;
  color: #fff;
}
.main-nav-div .uline {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.main-nav-div .uline:hover {
  /* text-decoration: underline; */
  color: #6DA942;
}

.concept-btn-li {
  margin: 0 0px;
}

.concept-trig-btn {
  /* padding: 6px 10px; */
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 5px;
  margin: 15px auto 0px auto;
  background-color: #6DA942;
  color: #fff;
  font-size: 110%;
  letter-spacing: 1px;
  /* font-weight: bold; */
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.concept-trig-btn:hover {
  background-color: #588835;
}

.reward-pts-trig-btn {
  position: relative;
  display: block;
  border: 1px solid #fff;
  background: transparent;
  padding: 15px 10px !important;
  border-radius: 4px;
  overflow: hidden;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.main-nav-div li .reward-pts-trig-btn:hover {
  border-color: #6DA942;
}

.reward-pts-trig-btn p {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

#rwd-hover-div {
  z-index: -1;
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: #F00E3F; */
  background-color: #6DA942;
  /* background-color: #FE7736; */
  /* background: linear-gradient(to right, #F00E3F, #FE7736); */
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.reward-pts-trig-btn:hover>#rwd-hover-div {
  top: 0;
}

.reward-pts-trig-btn:hover {
  text-decoration: none !important;
}


/* in-container for main text */

.container .in-container {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 75%;
  width: 90%;
  overflow: hidden;
}


/* Main text div */

.main-text {
  position: absolute;
  top: 45%;
  /* left:35%; */
  transform: translate(0, -50%);
  bottom: 10%;
  color: #fff;
}

.main-text h2 {
  font-size: 300%;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.main-text h3 {
  font-size: 120%;
}

.typed-container {
  position: relative;
  display: block;
  height: 30px;
  margin: 0;
}

.typed-cursor {
  visibility: hidden;
}


/* Currently serving text */

.cur-serving {
  /* color: #fff; */
  color: rgba(255, 255, 255, 0.6);
  margin: 10px auto;
  margin-left: 2px;
  letter-spacing: 0.5px;
  font-size: 80%;
  font-weight: normal;
}


/* Warning div */

.location-warning-div {
  position: relative;
  display: block;
  /* visibility: hidden; */
  display: none;
  max-width: 650px;
  white-space: normal;
  margin-top: 15px;
  padding: 10px 20px;

  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: rgba(0, 0, 0, 1); */
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}

.location-warning-div ul,
.location-warning-div li,
.location-warning-div p {
  margin: 0;
}

.location-warning-div ul {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.location-warning-div i {
  font-size: 250%;
  color: #ffcc00;
  margin-right: 20px;
}

.location-warning-div p {
  font-size: 100%;
}


/* Location enter div */

#main-see-menu-btn {
  background-color: #000;
  color: #fff;
  font-size: 90%;
  margin-left: 5px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#main-see-menu-btn:hover {
  background-color: #191919;
}

.fvp-down-btn {
  position: absolute;
  display: block;
  bottom: 2%;
  left: 47.5%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  animation-duration: 4s !important;
  transition-timing-function: linear !important;
}

/* Chevron animation */
.animated{
  animation-duration: 1s;
  animation-fill-mode: both;
} 
.infinite{
  animation-iteration-count: infinite;
} 
.bounce{
  animation-name: bounce;
  transform-origin: center bottom;
}
@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}



/* svp */

.svp {
  position: relative;
  display: block;
  min-height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.how-it-works-div,
.concept-div {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.90);
  color: #555;
}

.hv-look-head{
  position: relative;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  color: #444;
}

.how-it-works-div {
  background-color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 25px 40px 0px 40px;
}

.how-it-works-div .how-it-works-core .row {
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 10% !important;
}


.how-it-works-div img {
  position: relative;
  display: block;
  margin: 10px auto 20px auto;
  height: 50px;
  width: auto;
}

.concept-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
}


.concept-div .img {
  position: relative;
  display: block;
  height: auto;
  width: 40% !important;
  margin: 0 0 0 20px;
  overflow: hidden;
}
.concept-div .img img{
  width: 90%;
  height: auto;
}
.concept-exp-div {
  position: relative;
  display: block;
  height: 100%;
  width: 57%;
  margin: 0;
  text-align: center;
  overflow: hidden !important;
}
.conc-core{
  position: relative;
  display: block;
  width: 86%;
  margin: 0 auto;
  padding: 0;
}
.concept-div #cn-list{
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  box-sizing: content-box;
}
.concept-div #cn-list li {
  position: relative;
  display: list-item;
  margin: 0;
  padding: 0;
}
.concept-div ul li p{
  margin: 0;
  padding: 0;
}
.rw-p{
  margin: 20px auto !important;
}
.rw-pp{
  margin: 20px auto !important;
}
.how-it-works-div p {
  position: relative;
  display: block;
  text-align: center;
  margin: 10px auto;
  font-size: 110%;
  line-height: 1.5;
  color: #666;
  width: 90%;
}

.concept-div p {
  position: relative;
  display: block;
  text-align: left;
  margin: 6px auto;
  font-size: 100%;
  line-height: 1.5;
  color: #666;
  width: 100%;
}

/* Headings in how it works section and concept section */

.how-it-works-div h3 {
  margin-bottom: 40px;
}

.how-it-works-div h4 {
  margin-bottom: 10px;
  color: #111;
}

.svp .parallax-window {
  /* background: transparent; */
  height: 150px;
}

.p-window-one {
  background-image: url('../../assets/img/pen.jpg');
  background-size: cover;
  background-position-y: 90%;
}

.p-window-two {
  background-image: url('../../assets/img/contact-us.jpg');
  background-size: cover;
  background-position-y: 53%;
}

.how-it-works-div i {
  font-size: 300%;
  margin: 20px auto;
}

.concept-pic-div {
  position: relative;
  display: inline-block;
}

.concept-div h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #222;
  font-weight: bold;
}

#concept-rewards-trig div {
  position: relative;
  display: inline-block;
  padding: 18px 20px;
  margin: 0px auto 20px auto;
  color: #fff;
  background-color: #6DA942;
  text-decoration: none;
  /* box-shadow: 2px 0px 2px 1px rgba(0,0,0,0.2); */
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-radius: 4px;
  line-height: 0 !important;
}

#concept-rewards-trig div:hover {
  background-color: #588835;
  /* box-shadow: 8px 2px 10px 1px rgba(0,0,0,0.2); */
}

#concept-rewards-trig div:active {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}


/* Columns in how it works section*/

.col-one-div::after,
.col-two-div::after,
.col-three-div::after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 1px;
  color: #888;
  background-color: #000;
}

.how-it-works-div .row {
  margin-bottom: 40px;
}


/* Extra Small Devices, .visible-xs-* */


/* @media (max-width: 480px) {} */

@media (max-width: 767px) {
  .container .in-container {
    width: 95%;
  }
  .main-text {
    top: 50%;
    font-size: 70%;
  }
  .cur-serving {
    font-size: 100%;
  }
  .location-warning-div {
    width: 90%;
  }
  .concept-trig-btn {
    height: 35px;
    font-size: 120%;
    margin: 10px auto 0px auto;
  }
  .location-enter-div {
    width: 200px;
  }
  /* .locate-me-btn {
    padding-left: 5px;
    padding-right: 5px;
  } */
  .see-menu-btn {
    width: 90px;
  }
  /* svp */
  /* How it works */
  .col-one-div::after,
  .col-two-div::after,
  .col-three-div::after {
    /* display: none; */
    top: 110%;
    left: 50%;
    height: 1px !important;
    width: 30%;
  }
  .how-it-works-div .row>div {
    padding-top: 30px !important;
  }
  /* concept div */
  .concept-div {
    width: 100%;
    flex-direction: column;
  }
  .concept-div img {
    width: 100%;
  }
  .concept-exp-div {
    width: 90%;
  }
  .concept-div p {
    width: 85%;
  }
  .concept-div h3 {
    margin-top: 30px;
  }
  .scroll-header {
    display: none;
  }
}


/* Small Devices, .visible-sm-* */

@media (min-width: 768px) and (max-width: 991px) {
  .scroll-header {
    display: none;
  }
  .container .in-container {
    width: 95%;
  }
  .main-text {
    top: 50%;
    font-size: 90%;
  }
  .cur-serving {
    font-size: 110%;
  }
  .location-warning-div {
    width: 80%;
  }
  .concept-trig-btn {
    height: 35px;
    font-size: 110%;
    margin: 10px auto 0px auto;
  }
  /* svp */
  /* How it works */
  .col-one-div::after,
  .col-two-div::after,
  .col-three-div::after {
    /* display: none; */
    top: 110%;
    left: 50%;
    height: 1px !important;
    width: 30%;
  }
  .how-it-works-div .row>div {
    padding-top: 30px !important;
  }
  /* concept div */
  .concept-div {
    width: 100%;
    flex-direction: column;
  }
  .concept-div img {
    width: 100%;
  }
  .concept-exp-div {
    width: 90%;
  }
  .concept-div p {
    width: 85%;
  }
  .concept-div h3 {
    margin-top: 30px;
  }
  .scroll-header {
    display: none;
  }
}


/* Medium Devices, .visible-md-* */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Large Devices, .visible-lg-* */

@media (min-width: 1200px) {}

