.dets-core,.det-title-div{
    width: 40%;
    overflow: hidden;
}
.dets-core ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dets-core ul li{
    width: 100%;
    text-align: center;
}
.dets-core ul li p{
    text-align: left;
    margin-top: 10px;
}