<!-- Det Title Div-->
<div class="det-title-div">
  <div class="det-title-core">
    <h2 class="det-title">Your Profile</h2>
  </div>
</div>

<!-- Det core div -->
<div class="dets-core">
  <ul class="list-unstyled">
    <li class="">
      <label for="email">Email</label>
    </li>
    <li class="">
      <input type="email" name="email" id="dets-email" [(ngModel)]='userEmail' class="inputs" value="">
    </li>
    <li class="">
      <label for="name">Full Name</label>
    </li>
    <li class="">
      <input type="text" name="full-name" class="inputs" [(ngModel)]='userName' id="name" value="">
    </li>

    <!-- <li class="">
      <label for="name">Company Name</label>
    </li>
    <li class="">
      <input type="text" name="full-name" class="inputs" [(ngModel)]='companyName' id="name" value="">
    </li> -->

    <li class="">
      <label for="mobile">Mobile Number</label>
    </li>
    <li class="">
      <input type="text" name="mobile" class="inputs" [(ngModel)]='userMobile' id="mobile" value="">
    </li>
  </ul>
  <div class="bottom-div">
    <div class="save-btns-div pull-left">
      <button type="button" class="save-btns">Cancel</button>
      <button type="button" class="save-btns" (click)='profileUpdate(userEmail,userName,userMobile)'>Save</button>
    </div>
    <div class="pull-right">
      <a routerLink='/settings/change-password'><button type="button" class="change-pwd-btn">Change Password</button></a>
    </div>
    <div class="clearfix">
    </div>

  </div>
</div>