.web-sec-heads {
  position: relative;
  display: block;
  margin: 20px auto;
  text-align: center;
  color: #000;
  font-size: 200%;
}

.con-section .container {
  text-align: left !important;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

li {
  margin: 0;
}
h3 {
  position: relative;
  display: block;
  width: 100%;
  text-align: left !important;
  font-weight: bold;
}
