<!-- Header for mobiles and smaller devices -->
<header class="mob-main-header visible-sm visible-xs">
  <button type="button" class="mob-menu-trig-btn">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
  <div class="mob-main-logo">
    <img src="../../assets/logo/logo_black.png">
  </div>
</header>
<header class="main-header visible-md visible-lg">
  <div class="container">
    <div class="main-logo pull-left" routerLink='/home'>
      <img src="../../assets/logo/logo_black.png">
    </div>
    <ul class="list-inline det-ul visible-xs visible-sm pull-right">
      <li>
        <button type="button" class="dets-div-btns" id="loc-btn"> MADHAPUR &nbsp; </button>
      </li>
    </ul>
    <ul class="list-inline det-ul pull-left visible-md visible-lg">
      <li>
        <button type="button" class="dets-div-btns" id="loc-btn"> MADHAPUR &nbsp;</button>
      </li>
      <li>
        <a href="" class="dets-div-btns" id="our-menu-btn">Our Menu</a>
      </li>
      <li>
        <a class="dets-div-btns" id="schedule-menu-btn" (click)='schMenuBtn(schTrigBtn)'>Schedule Menu</a>
      </li>
    </ul>
    <div class="scroll-login-div pull-right  visible-md visible-lg">
      <ul class="list-inline sc-ul">
        <li class="login-trig-div" *ngIf="!authService.loggedIn()">
          <button type="button" class="login-signup-trig-btn dets-div-btns" (click)="appComponent.loginSignupTrigger()">Log in/Sign up</button>
        </li>
        <li class="account-trig-div" *ngIf="authService.loggedIn()">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Account</button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings'>My Profile</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/my-orders'>My Orders</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/address'>Saved Address</a></li>
              <!-- <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/payments'>Payments</a></li> -->
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/reward-points'>Reward Points</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/change-password'>Change Password</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" (click)="onLogoutClick()">Logout</a></li>
            </ul>
          </div>
        </li>
      </ul>

    </div>
    <div class="clearfix"></div>
  </div>
</header>
<div class="con-section jumbotron">
  <h2 class="web-sec-heads">PRIVACY POLICY</h2>
  <div class="container">

    <p>
       Fysu is the sole operator of www.fysu.in (website) for the convenient and hassle free order of lunch via the website.
    </p>
    <p>
      The Privacy Policy states our policies regarding the personal information (Email address & Contact Number) we receive from our clients on the website.
    </p>
    <p>
      All the personal information provided shall be used to provide the service and enhance the site and thus, you agree to the use of such information provided by clients in accordance to the policy.
    </p>
    
    <h3>
       Collection and Disclosure of Personal Information
    </h3>
    <p>
       We collect personal data provided by the client voluntarily, which typically includes yours:
    </p>
    <p>Company Name</p>
    <p>Email Address</p>
    <p>
       Mobile Number
    </p>
    <p>
       Delivery Address
    </p>
    <p>
       Any other information you give us while registering and ordering.
    </p>
    <p>
      We use Personal Information to deliver the lunch to you. To the extent, we may use your Personal Information for the marketing mails and you can opt out of such uses via unsubscribe option. We use your personal information to resolve disputes/queries; for a safe transaction; delivery; measure consumer interest in our lunch service, inform you about online offers, enforce our terms and conditions and as otherwise informed to you at the time of collection.
    </p>
    <p>
      We may transfer your Personal Information with other parties in order to comply with laws, protect our rights and property, in connection with or during negotiation of any merger, financing, acquisition, bankruptcy, dissolution, transaction or proceeding involving sale, transfer, divestiture, or disclosure of all or a portion of our business or assets to another company.
    </p>
    <h3>Log Data</h3>
    <p>
      Fysu collects information that your browser sends us whenever you visit our website. This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, &amp; the pages of our website that you visit, the time and date of your visit, the time spent on those pages and other statistics.
    </p>
    <p>
      We may use data collection devices such as cookies on certain pages of the website to analyze our web page flow, count visits, measure promotional effectiveness of emails and websites, and promote trust and safety.
    </p>
    <h3>
       Cookies
    </h3>
    <p>
      Cookies are small files placed on your hard drive that assist us in providing our services. We offer certain features that are available through the use of a cookie only. If you decline all cookies, you may not be able to use some pages of our website.
    </p>
    <h3>
       Google Analytics
    </h3>
    <p>
       We may use Google Analytics to analyze how our users use the website and help improve our website and services.
    </p>
    <h3>
       Security
    </h3>
    <p>
      To protect the user's Personal Information is important to us and we take utmost precautions to ensure that the information is not lost, misused, disclosed or destroyed, but no electronic method is 100 % secure. Hence, we don't guarantee hundred percent security of your Personal Information.
    </p>
    <h3>
       Payment Information
    </h3>
    <p>
      Fysu does not store credit card or any other customer payment information. All the information you provide is processed through a secure server.
    </p>
    <h3>
       Access, Accuracy and Security
    </h3>
    <p>
      Fysu will take reasonable steps to ensure the personal information collected is accurate, complete and up-to-date. The customer may access and request correction of any personal information concerning you at any time. The customer may also request the personal information be deleted at any time. Any such requests should be made directly by contacting Fysu. We will take reasonable steps to protect personal information from misuse, loss and unauthorized access, modification or disclosure.
    </p>
    <h3>
       Confidentiality
    </h3>
    <p>
      You further acknowledge that the Website may contain information which is designated confidential by Us and that you shall not disclose such information without our prior written consent. 
    </p>
    <p>
      Your information is regarded as confidential and therefore will not be divulged to any third party, unless if legally required to do so to the appropriate authorities.
    </p>
    <p>
      We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by us will only be in connection with the provision of agreed services and products.
    </p>
    <h3>
       Changes to Privacy Policy
    </h3>
    <p>
      We reserve the rights to modify or update this Privacy Policy any time. Changes shall be effective immediately upon posting on the website. So, you are advised to review this Privacy Policy every time upon placement of order.
    </p>
    <h3>
       Contact Us
    </h3>
    <p>
       For any query, grievance, complaint, any other information or just to say HI, you can contact us at info@fysu.in
    </p>
  </div>
</div>