.db{
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
}
.main-container {
  padding: 0 !important;
  margin-top: 70px;
  background: none;
  background-image: none !important;
  background-size: auto;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.main-container>.container {
  width: 100% !important;
  margin: 0;
  padding: 0;
}

.rewards-title-img-div {
  position: relative;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 200px;
  color: #fff;
  text-align: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  background-image: url('../../assets/img/gift.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rewards-main {
  position: relative;
  display: block;
  width: 100%;
  padding: 50px 0px 20px 0px;
  background-color: #F2F5F6;
}

/* Left rewards section */

.left-rew-section,
.right-rew-section {
  position: relative;
  margin: 0;
}

.right-rew-section ul{
  font-size: 90%;
}
.right-rew-section ul li{
  margin: 0;
}
.left-rew-section {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  flex-direction: column;
  width: 50%;
}

.right-rew-section {
  width: 50%;
}

.points-reps {
  position: relative;
  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  flex-direction: row;
  width: auto;
}

.points-rep {
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  /* background-color: #1F5EA9; */
  background-color: #6DA942;
  height: 70px;
  width: 35px;
  border: none;
  color: #fff;
  font-size: 200%;
  margin: 0 3px;
  border-radius: 3px;
}

.points-reps h6 {
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100%;
  margin: 0 auto;
  text-align: center !important;
}

.bar-div-core {
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  width: 90%;
}

.bar-div,
.bar-div-top,
.bar-div-bottom {
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 100%;
}

.bar-div-top,
.bar-div-bottom {
  margin: 0;
  color: #417EBF;
  font-size: 80%;
  font-weight: bold;
}

.bar-div-num {
  position: absolute;
  bottom: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  color: #6DA942;
  /* background-color:  */
}

.bar-div-bottom .bar-div-num {
  top: 15px;
}

.bar {
  position: relative;
  background-color: #CCCCCC;
  height: 30px;
  width: 30%;
  margin: 0;
  padding: 0;
}

.bar-one {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.bar-two {
  margin: 0 5px;
}

.bar-three {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.bar-div-top .bar,
.bar-div-bottom .bar {
  background-color: transparent;
  /* height: 0; */
}

.last-bar-num {
  left: 85%;
}

.main-container .redeem-div {
  position: relative;
  display: block;
  width: 100% !important;
  margin: 0;
  padding: 10px 0;
}

.redeem-head {
  position: relative;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 200%;
  color: #666;
}

.redeem-points-div {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin : 0;
}

.redeem-core {
  position: relative;
  display: block;
  height: auto;
  /* width: 350px; */
}

.redeem-top {
  position: relative;
  display: flex;
  display: -webkit-flex;
  height: 10%;
  margin: 0;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background-color: #fff;
  color: #666;
  font-weight: bold;
  font-size: 150%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.redeem-main {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  height: 88%;
  margin: 0;
  margin-top: 2%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.redeem-amount {
  position: relative;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  height: 300px;
  /* padding: 30px 0; */
  margin: 0;
  background-color: #fff;
}

.redeem-number {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /* background-color: #49AAFF; */
  background-color: #6DA942;;
  color: #fff;
  font-size: 400%;
}

.red-num-in {
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.redeem-dollar-sign {
  font-size: 50%;
}

.redeem-dets {
  position: relative;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 40%;
  margin: 0;
  padding: 10px 30px;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}

.redeem-dets h6 {
  margin: 0 0 5px 0;
  font-size: 105%;
  color: #3e3e3e;
  font-weight: bold;
}

.points-index-bar {
  position: relative;
  width: 100%;
  height: 7px;
  border-radius: 7px;
  background-color: #eee;
  margin: 20px auto 2px auto;
}

.points-away {
  font-size: 70%;
  color: #666;
  margin-top: 3px;
}

.redeem-btn {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #CCCCCC;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}

.right-rew-section ul li p{
  text-align: justify;
}

@media screen and (min-width:220px) and (max-width:740px){
  .right-rew-section{width: 100%;}
  .left-rew-section{width: 100%;}
}



