.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  color: #000;
  margin: 0;
  padding: 0;
  width: 60%;
}

label {
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 130%;
}

input {
  outline: none;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #111;
}

button {
  height: 40px;
  width: 150px;
  background-color: #000;
  color: #fff;
  border: none;
}
@media screen and (min-width:220px) and (max-width:1024px) {
  .container{margin-left: 21%;}
}
