<!-- Det Title Div-->
<div class="det-title-div">
  <div class="det-title-core">
    <h2 class="det-title">Payments</h2>
  </div>
</div>

<!-- Det core div -->
<div class="dets-core">
  <div *ngIf='orders_exist == "nope"'>
    <h5>You have no Payments yet.</h5>
  </div>
  <div *ngIf='orders_exist == "yes"'>
    <table class="table-striped">
      <tr>
        <td>
          Order ID
        </td>
        <td>
          Ordered Time
        </td>
        <td>
          Order Delivery time
        </td>
        <td>
          Delivery Address
        </td>
        <td>
          Price
        </td>
      </tr>
      <tr *ngFor='let order of orders'>
        <td>
          {{order.order_id}}
        </td>
        <td>
          {{order.ordered_time}}
        </td>
        <td>
          {{order.order_delivery_date}}
        </td>
        <td class="address-td" style="font-size:70%">
          {{order.delivery_address}}
        </td>
        <td>
          &#8377; {{order.price}}
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="clearfix"></div>