.dets-core,.det-title-div{
    width: 40%;
    overflow: hidden;
}
.dets-core ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dets-core ul li{
    width: 100%;
    text-align: center;
}
.dets-core ul li p{
    text-align: left;
    margin-top: 10px;
}
.save-btns-div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}
@media screen and (min-width:220px) and (max-width:1024px){
    .dets-core,.det-title-div{
        width: 100%;
        overflow: hidden;
    } 
}