<!-- Addons Section -->
<div class="orders-section">
  <h3>Add Category</h3>

</div>
<!-- Orders Listing -->
<div class="orders-list-section table-responsive">
  <table>
    <tr>
      <td>
        <h5>Category Name : </h5>
      </td>
      <td>
        <input type="text" [(ngModel)]='catName'>
      </td>
    </tr>
    <tr>
      <td>
        <button class="submit-btns" (click)='addCategory(catName)'>SUBMIT</button>
      </td>
    </tr>
  </table>
  <br><br><br>
  <h3>View Categories</h3>
  <table class="table-striped view-cat-table">
    <tr *ngFor="let cat of categories">
      <td>
        {{cat.name}}
      </td>
      <td>
        <i class="fa fa-times cat-close-btn" aria-hidden="true" (click)="deleteCategory(cat._id)"></i>
      </td>
    </tr>
  </table>
</div>