<!-- Det Title Div-->
<div class="det-title-div">
  <div class="det-title-core">
    <h2 class="det-title">Orders</h2>
  </div>
</div>

<!-- Det core div -->
<div class="dets-core">

  <div *ngIf='orders_exist == false'>
    <h5>You have no orders yet.</h5>
  </div>
  <div *ngIf='orders_exist == true'>
    <table class="table table-striped">
      <tr>
        <th>
          Order id
        </th>
        <th>
          Order Time
        </th>
        <th>
          Ordered Items
        </th>
        <th>
          Payment Type
        </th>
        <th>
          Price
        </th>
      </tr>
      <tr *ngFor='let order of users_orders'>
        <td>
          {{order.order_id}}
        </td>
        <td>
          {{order.order_time}}
        </td>
        <td>
          <!-- {{order.delivery_address}} -->
          <!-- Order items here -->
          <span *ngFor="let tday of user_today">

            <span  *ngIf="tday != null">
              <span  *ngIf="tday.order != null">
                <span *ngIf="tday.order_id == order.order_id">
                <span  *ngIf="tday.order.tab_one != null">
                  <span>{{tday.order.tab_one.name}}</span>,
                </span>
                <span  *ngIf="tday.order.tab_two != null">
                  <span>{{tday.order.tab_two.name}}</span>,
                </span>
                <span  *ngIf="tday.order.tab_three != null">
                  <span>{{tday.order.tab_three.name}}</span>,
                </span>
                </span>
              </span>
            </span>
          </span>

          <span *ngFor="let dday of user_day">
              <span *ngIf="dday != undefined || dday != null">
                <span>{{ dday[0].item_name }}</span>,
              </span>
          </span>

        </td>
        <td>
          {{order.payment_method}}
        </td>
        <td>
          {{order.total_price}}
        </td>
      </tr>
    </table>
  </div>

</div>
<div class="clearfix"></div>