<!-- Det Title Div-->
<div class="det-title-div">
  <div class="det-title-core">
    <h2 class="det-title">Orders</h2>
  </div>
</div>

<!-- Det core div -->
<div class="dets-core">

  <div *ngIf='orders_exist == false'>
    <h5>You have no orders yet.</h5>
  </div>
  <div *ngIf='orders_exist == true'>
    <table class="table table-striped">
      <tr>
        <th>
          Order id
        </th>
        <th>
          Order Time
        </th>
        <th>
          Ordered Items
        </th>
        <th>
          Payment Type
        </th>
        <th>
          Price
        </th>
      </tr>
      <tr *ngFor='let order of orders'>
        <td>
          {{order.order_id}}
        </td>
        <td>
          {{order.time}}
        </td>
        <td>
          <!-- Order items here -->
          <span *ngFor='let item of order.items'>
            <p>
                {{ item }}
            </p>
            <!-- <span *ngFor='let item of items'>
              {{item}}
            </span> -->
          </span>

        </td>
        <td>
          {{order.payment_method}}
        </td>
        <td>
          {{order.price}}
        </td>
      </tr>
    </table>
  </div>

</div>
<div class="clearfix"></div>