<header class="main-header visible-md visible-lg">
  <div class="container">
    <div class="main-logo pull-left" routerLink='/home'>
      <img src="../../assets/logo/logo_black.png">
    </div>
    <ul class="list-inline det-ul visible-xs visible-sm pull-right">
      <li>
        <button type="button" class="dets-div-btns" id="loc-btn"> MADHAPUR &nbsp;</button>
      </li>
    </ul>
    <ul class="list-inline det-ul pull-left visible-md visible-lg">
      <!-- <li>
        <button type="button" class="dets-div-btns" id="loc-btn"> MADHAPUR &nbsp;</button>
      </li> -->
      <li>
        <a routerLink='/menu' class="dets-div-btns selected" id="our-menu-btn">Today, {{dateForHeader}}</a>
      </li>
    </ul>
    <div class="scroll-login-div pull-right  visible-md visible-lg">
      <ul class="list-inline sc-ul">
        <li class="login-trig-div" *ngIf="!authService.loggedIn()">
          <button type="button" class="login-signup-trig-btn dets-div-btns" (click)="appComponent.loginSignupTrigger()">Log in/Sign up</button>
        </li>
        <li class="account-trig-div" *ngIf="authService.loggedIn()">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Hi, {{userName}}&nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings'>My Profile</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/my-orders'>My Orders</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/address'>Saved Address</a></li>
              <!-- <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/payments'>Payments</a></li> -->
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/reward-points'>Reward Points</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/change-password'>Change Password</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" (click)="onLogoutClick()">Logout</a></li>
            </ul>
          </div>
        </li>
        <li class="head-basket" routerLink='/checkout'>
          Basket &nbsp; <span class="head-basket-num">{{basket_num}}</span> 
        </li>
      </ul>

    </div>
    <div class="clearfix"></div>
  </div>
</header>

<div class="checkout-main-container">
  
  <div class="container">

    <!-- Left Dets -->
    <div class="left-dets-section pull-left">

      <!-- Address and instructions section -->
      <div class="address-section">

        <div class="address-head-div head-divs">
          <h3 class="section-titles">Delivery Address</h3>
        </div>
        <div class="body-div">

          <!-- Warning -->
          <div class="warning-div">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><p>Please edit the address to be accurate</p>
          </div>

          <!-- Address statement -->

          <div class="user-address-div">
            <div *ngIf='one_address == true'>
              <div *ngFor="let address of addresses;let i = index">
                <label style="cursor:pointer">
                <div class="address-container">
                  <div class="user-address-item">
                    <div class="user-address pull-left">
                      <div class="pull-left">
                        <input type="radio" name="check_address" value="{{address}}" (change)="addressChecked($event)">
                      </div>
                      <div class="pull-left address-lines">
                        <h5 class="address-lines-title">OFFICE ADDRESS {{i+1}}</h5>
                        {{address}}
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="address-edit-div pull-right">
                      <button type="button" class="edit-address" (click)='editAddress(i,address)'>Edit</button>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                </label>
              </div>
            </div>
            <div *ngIf='one_address == false'>
              <div *ngFor="let address of addresses;let i = index">
                <label style="cursor:pointer">
                <div class="address-container">
                  <div class="user-address-item">
                    <div class="user-address pull-left">
                      <div class="pull-left">
                        <input type="radio" name="check_address" value="{{address}}" (change)="addressChecked($event)">
                      </div>
                      <div class="pull-left address-lines">
                        <h5 class="address-lines-title">OFFICE ADDRESS {{i+1}}</h5>
                        {{address}}
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="address-edit-div pull-right">
                      <button type="button" class="edit-address" (click)='editAddress(i,address)'>Edit</button>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                </label>
              </div>
            </div>


          </div>

          <div class="instructions-div">
            <h6>Delivery Instructions</h6>
            <textarea id="delivery-instructions-input" placeholder="Instructions for delivery boy (Optional)" [(ngModel)]='deliveryInst'></textarea>
          </div>

        </div>

      </div>

      

    </div>
    
    <div class="today-menu-back">
      <div class="today-core">
          <i class="fa fa-times" aria-hidden="true" (click)="tdClose()"></i>
          <label for="t-menu-select-slot" id="reg-name-label">Select Delivery Slot</label>
          <label for="">
              <select name="" id="t-menu-select-slot" [(ngModel)]="schSlot">
                  <option selected disabled default>Choose Time Slot</option>
                  <option value="slot_one">12:00 PM - 12:45 PM</option>
                  <option value="slot_two">12:45 PM - 01:30 PM</option>
                  <option value="slot_three">01:30 PM - 02:15 PM</option>
                  <option value="slot_four">02:15 PM - 03:00 PM</option>
              </select>
          </label>
          <br>
          <div class="today-btns">
              <button type="button" class="sc-ch-add-btn" (click)="addTodayCartClicked()">ADD TO BASKET</button>
          </div>
      </div>
  </div>

    <!-- Right Dets -->
    <div class="right-dets-section pull-left">

      <!-- Order Summary section -->
      <div class="order-summary-section">

        <div class="address-head-div head-divs">
          <h3 class="section-titles">Order Summary</h3>
        </div>

        <div class="body-div order-summary-body">
          
      <div class="delivery-items-div">

          <!-- Day today-->
        <div *ngIf="today_orders !=null">
          <div *ngIf="tab_one !=null">
            
            <h6 class="delivery-on-statement" (click)="changeDets('tab_one')">Delivery today {{tab_one_time_slot}}  <button type="button" class="d-edit-address" (click)="changeDets('tab_one')">Edit</button></h6>
            <!-- Today exists -->
              <div class="delivery-item">
  
                <div class="delivery-item-left">
                  <div class="delivery-item-dets">
                    <span>
                      <p class="delivery-item-name">{{tab_one_name}}</p>
                    </span>
                    
                  </div>
                </div>
  
                <div class="delivery-dets">
                  <!-- Number of items -->
                  <div class="delivery-number-div">
                    <div class="delivery-number-core">
                      <button class="minus-btn" (click)="removeDate('tab_one')"> <i class="fa fa-minus" aria-hidden="true"></i> </button><h5 class="delivery-item-price">&#8377;<span class="item-cost-number"> {{tab_one_base_price}}.00 </span> x {{tab_one_times}}</h5> 
                    </div>
                  </div>
                  <!-- Delivery item price -->
                  <div class="price-div">
                    <div class="price-core">
                      &#8377; <span class="item-total-cost-number"> {{tab_one_total_price}}.00 </span>
                    </div>
                  </div>
                </div>
              </div>

          </div>
          
          <div *ngIf="tab_two !=null">
            
            <h6 class="delivery-on-statement">Delivery today &nbsp; {{tab_two_time_slot}} <button type="button" class="d-edit-address" (click)="changeDets('tab_two')">Edit</button></h6>
            <!-- Today exists -->
              <div class="delivery-item">
  
                <div class="delivery-item-left">
                  <div class="delivery-item-dets">
                    <span>
                      <p class="delivery-item-name">{{tab_two_name}}</p>
                    </span>
                    
                  </div>
                </div>
  
                <div class="delivery-dets">
                  <!-- Number of items -->
                  <div class="delivery-number-div">
                    <button class="minus-btn" (click)="removeDate('tab_two')"> <i class="fa fa-minus" aria-hidden="true"></i> </button><h5 class="delivery-item-price">&#8377;<span class="item-cost-number"> {{tab_two_base_price}}.00 </span> x {{tab_two_times}}</h5> 
                  </div>
                  <!-- Delivery item price -->
                  <div class="price-div">
                    <div class="price-core">
                      &#8377; <span class="item-total-cost-number"> {{tab_two_total_price}}.00 </span>
                    </div>
                  </div>
                </div>
              </div>

          </div>
          
          <div *ngIf="tab_three !=null">
            
            <h6 class="delivery-on-statement">Delivery today &nbsp; {{tab_three_time_slot}} <button type="button" class="d-edit-address" (click)="changeDets('tab_three')">Edit</button></h6>
            <!-- Today exists -->
              <div class="delivery-item">
  
                <div class="delivery-item-left">
                  <div class="delivery-item-dets">
                    <span>
                      <p class="delivery-item-name">{{tab_three_name}}</p>
                    </span>
                    
                  </div>
                </div>
  
                <div class="delivery-dets">
                  <!-- Number of items -->
                  <div class="delivery-number-div">
                    <div class="delivery-number-core">
                      <button class="minus-btn" (click)="removeDate('tab_three')"> <i class="fa fa-minus" aria-hidden="true"></i> </button><h5 class="delivery-item-price">&#8377;<span class="item-cost-number"> {{tab_three_base_price}}.00 </span>  x {{tab_three_times}}</h5>
                    </div>
                  </div>
                  <!-- Delivery item price -->
                  <div class="price-div">
                    <div class="price-core">
                      &#8377; <span class="item-total-cost-number"> {{tab_three_total_price}}.00 </span>
                    </div>
                  </div>
                </div>
              </div>

          </div>

          
        </div>
        <!-- Day one -->
        <div *ngIf="day_one_date !=null">
          <h6 class="delivery-on-statement"> <span>Delivery on {{day_one_date}} </span> &nbsp; <span>{{day_one_slot}} <button type="button" class="d-edit-address" (click)="changeDets('day_one')">Edit</button></span></h6>
            <div class="delivery-item">
              <div class="delivery-item-left">
                <div class="delivery-item-dets">
                  <span *ngFor="let menu of day_one_menu" class="item-name-core">
                    <span class="delivery-item-name">{{menu.item_name}}</span>
                  </span>
                  
                </div>
              </div>

              <div class="delivery-dets">
                <!-- Number of items -->
                <div class="delivery-number-div">
                  <button class="minus-btn" (click)="removeDate('day_one')"> <i class="fa fa-minus" aria-hidden="true"></i> </button><h5 class="delivery-item-price">&#8377;<span class="item-cost-number"> {{day_one_per_portion_price}}.00 </span> x {{ day_one_num_items }} </h5>
                </div>
                <!-- Delivery item price -->
                <div class="price-div">
                  <div class="price-core">
                    &#8377; <span class="item-total-cost-number"> {{day_one_total_price}}.00 </span>
                  </div>
                </div>
              </div>
            </div>


        </div>
        <!-- Day two -->
        <div *ngIf="day_two_date !=null">
          <h6 class="delivery-on-statement"><span>Delivery on {{day_two_date}}</span>  &nbsp; <span>{{day_two_slot}} <button type="button" class="d-edit-address" (click)="changeDets('day_two')">Edit</button></span> </h6>
          
            <div class="delivery-item">
              <div class="delivery-item-left">
                <div class="delivery-item-dets">
                  <span *ngFor="let menu of day_two_menu">
                    <span class="delivery-item-name">{{menu.item_name}}</span>
                  </span>
                  
                </div>
              </div>

              <div class="delivery-dets">
                <!-- Number of items -->
                <div class="delivery-number-div">
                  <button class="minus-btn" (click)="removeDate('day_two')"> <i class="fa fa-minus" aria-hidden="true"></i> </button><h5 class="delivery-item-price">&#8377;<span class="item-cost-number"> {{day_two_per_portion_price}}.00 </span> x {{ day_two_num_items }} </h5>
                </div>
                <!-- Delivery item price -->
                <div class="price-div">
                  <div class="price-core">
                    &#8377; <span class="item-total-cost-number"> {{day_two_total_price}}.00 </span>
                  </div>
                </div>
              </div>
            </div>
          


        </div>
        <!-- Day three -->
        <div *ngIf="day_three_date !=null">
          <h6 class="delivery-on-statement"><span>Delivery on {{day_three_date}}</span>  &nbsp; <span>{{day_three_slot}} <button type="button" class="d-edit-address" (click)="changeDets('day_three')">Edit</button></span> </h6>
            <div class="delivery-item">
              <div class="delivery-item-left">
                <div class="delivery-item-dets">
                  <span *ngFor="let menu of day_three_menu">
                  <span class="delivery-item-name">{{menu.item_name}}</span>
                  </span>
                </div>
              </div>
              <div class="delivery-dets">
                <!-- Number of items -->
                <div class="delivery-number-div">
                  <button class="minus-btn" (click)="removeDate('day_three')"> <i class="fa fa-minus" aria-hidden="true"></i> </button><h5 class="delivery-item-price">&#8377;<span class="item-cost-number"> {{day_three_per_portion_price}}.00 </span> x {{ day_three_num_items }} </h5>
                </div>
                <!-- Delivery item price -->
                <div class="price-div">
                  <div class="price-core">
                    &#8377; <span class="item-total-cost-number"> {{day_three_total_price}}.00 </span>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
        <!-- Day Four -->
        <div *ngIf="day_four_date !=null">
          <h6 class="delivery-on-statement"><span>Delivery on {{day_four_date}}</span>  &nbsp; <span>{{day_four_slot}} <button type="button" class="d-edit-address" (click)="changeDets('day_four')">Edit</button></span></h6>
            <div class="delivery-item">
              <div class="delivery-item-left">
                <div class="delivery-item-dets">
                  <span *ngFor="let menu of day_four_menu">
                    <span class="delivery-item-name">{{menu.item_name}}</span>
                  </span>
                </div>
              </div>
              <div class="delivery-dets">
                <!-- Number of items -->
                <div class="delivery-number-div">
                  <button class="minus-btn" (click)="removeDate('day_four')"> <i class="fa fa-minus" aria-hidden="true"></i> </button><h5 class="delivery-item-price">&#8377;<span class="item-cost-number"> {{day_four_per_portion_price}}.00 </span> x {{ day_four_num_items }} </h5>
                </div>
                <!-- Delivery item price -->
                <div class="price-div">
                  <div class="price-core">
                    &#8377; <span class="item-total-cost-number"> {{day_four_total_price}}.00 </span>
                  </div>
                </div>
              </div>
            </div>

        </div>
        <!-- Day five -->
        <div *ngIf="day_five_date !=null">
          <h6 class="delivery-on-statement"><span>Delivery on {{day_five_date}}</span>  &nbsp; <span>{{day_five_slot}} <button type="button" class="d-edit-address" (click)="changeDets('day_five')">Edit</button></span></h6>

            <div class="delivery-item">
              <div class="delivery-item-left">
                <div class="delivery-item-dets">
                  <span *ngFor="let menu of day_five_menu">
                    <span class="delivery-item-name">{{menu.item_name}}</span>
                  </span>
                  
                </div>
              </div>

              <div class="delivery-dets">
                <!-- Number of items -->
                <div class="delivery-number-div">
                  <button class="minus-btn" (click)="removeDate('day_five')"> <i class="fa fa-minus" aria-hidden="true"></i> </button><h5 class="delivery-item-price">&#8377;<span class="item-cost-number"> {{day_five_per_portion_price}}.00 </span> x {{ day_five_num_items }} </h5>
                </div>
                <!-- Delivery item price -->
                <div class="price-div">
                  <div class="price-core">
                    &#8377; <span class="item-total-cost-number"> {{day_five_total_price}}.00 </span>
                  </div>
                </div>
              </div>
            </div>

        </div>
      
      </div>

        <div class="charges-div">
          <div class="total-fee">
            <div class="pull-left">
              <h6>Added letter :</h6>
            </div>
            <div class="pull-right cost-core">
              &#8377;<span class="cost-number"> {{letter_price}}.00 </span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="delivery-fee">
            <div class="pull-left">
              <h6>Delivery Fee :</h6>
            </div>
            <div class="pull-right cost-core">
              &#8377; <span class="cost-number"> {{delivery_fee}}.00 </span>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="total-fee">
            <div class="pull-left">
              <h6>Total :</h6>
            </div>
            <div class="pull-right cost-core">
              &#8377;<span class="cost-number"> {{total_price}}.00 </span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="total-fee">
            <div class="pull-left">
              <h6>Number of points you'll earn through this order :</h6>
            </div>
            <div class="pull-right cost-core">
            <span class="cost-number"> {{points_earned}} </span>
            </div>
            <div class="clearfix"></div>
          </div>

          <div *ngIf='rewardPointsPermissions == true'>
              
            <div class="rewards-div">
                <p>
                    You have {{rewardPoints}} reward points.
                </p> 
                <button  class="save-btns" id="redeem-btn" (click)='redeemClicked()'>
                  Redeem
                </button>&nbsp; &nbsp; 
                <div *ngIf="showDiscount">- {{discount}}</div>
            </div>
          </div>

          <div class="total-pay total-to-pay-div">
            <div class="pull-left">
              <h6>Total to pay</h6>
            </div>
            <div class="pull-right cost-core">
              &#8377;<span class="cost-number"> {{total_to_pay}}.00</span>
            </div>
            <div class="clearfix"></div>
            
          </div>

          <!-- <div class="reward-points">
            <div class="pull-left">
              <h6>Reward points</h6>
            </div>
            <div class="pull-right cost-core">
              <span class="cost-number"> 5 </span>
            </div>
            <div class="clearfix"></div>
          </div> -->
        </div>
          <!-- <span class="place-order-notif">*Blah blah blah blah</span> -->
        </div>
        <!-- <button type="button" id="place-order-button">Place Order</button> -->
      </div>
      <!-- Payment Gateway Section -->
      <div class="payment-selection-section">
          
        <div class="address-head-div head-divs">
          <h3 class="section-titles"> Select Payment Method</h3>
        </div>

        <div class="payment-options-div body-div">
          <ul class="payment-options-ul list-unstyled list-inline">
            <li class="payment-li">
                <label for="invoice">
                    <input type="radio" name="payment" id="invoice" value="Online" (click)='paymentMethod($event)'> &nbsp; Pay Online
                </label>
              </li>
            <li class="payment-li">
              <label for="credit">
                  <input type="radio" name="payment" id="credit" value="wallet" (click)='paymentMethod($event)'> &nbsp; Wallet
              </label>
            </li>
            <li class="payment-li">
              <label for="paypal">
                  <input type="radio" name="payment" id="paypal" value="cod" (click)='paymentMethod($event)'> &nbsp; Cash on Delivery
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="place-order-btn-div">
        <p class="err"></p>
        <button type="button" id="place-order-button" (click)='placeOrder()'>Proceed to Checkout</button>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="db">
  <div class="wb">
      <i class="fa fa-times" aria-hidden="true" (click)='closeUpAddress()'></i>
    <h2>Update Address</h2>
    <textarea [(ngModel)]='placeholder_address'>

    </textarea>
    <button class="save-btns" (click)='updateAddress()' style="margin-top:20px;">SUBMIT</button>
  </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

</script>