
/* Changing time slot section */
.today-menu-back,.sch-hover-menu-back{
  z-index: 100;
  position: fixed;
  display: flex;
  display: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.sch-hover-menu-back{
 z-index: 10000;
}
.today-core,.sch-hover-core{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 background-color: #fff;
 height: 270px;
 width: 500px;
 padding: 30px 0px;
 border-radius: 4px;
}
.today-core label,.sch-hover-core label{
 position: relative;
 display: block;
 height: 30px;
 width: 90%;
 color: #666;
}
.today-btns{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 40px;
 width: 100%;
 margin-top: 30px;
}
.today-btns button{
 height: 40px;
}
.today-core .fa-times,.sch-hover-core .fa-times{
 position: absolute;
 display: block;
 top:4%;
 left: 94%;
 /* font-size: 90%; */
 color: #666;
 cursor: pointer;
}
.today-core .fa-times:hover,.sch-hover-core .fa-times:hover{
 color: #fa0000;
}
.today-core select,.sch-hover-core select{
 outline: none !important;
 position: relative;
 display: block;
 height: 35px;
 width: 100%;
 font-size: 100%;
 border: 1px solid rgba(0, 0, 0, 0.2);
 border-radius: 4px;
 font-weight: normal;
}
.today-core .today-btns,.sch-hover-core .today-btns{
 display: flex;
 align-items: center;
 justify-content: center;
}
.today-core .sc-ch-add-btn,.sch-hover-core .sc-ch-add-btn{
 width: 220px;
}

/* Address edit section */
.db,.wb{
  z-index: 20;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.db{
  display: none;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.wb{
  height: 300px;
  width: 400px;
  border-radius: 4px;
  background-color: #fff;
}
.wb h2{
  font-size: 120%;
  margin-bottom: 30px;
}
.wb textarea{
  resize: none !important;
  outline: none !important;
  height: 150px;
  width: 250px;
}
.wb .fa{
  position: absolute;
  top:5%;
  left:92%;
  cursor: pointer;
}
.checkout-main-container {
  margin: 0;
  margin-top: 70px;
  background-color: #F2F5F6;
  padding: 20px 0px 50px 0px;
  color: #515151;
  background-image: url('../../assets/img/mbg.png');
  background-size: auto;
  background-repeat: repeat;
}

.head-divs {
  border-bottom: 2px solid #F2F5F6;
  padding: 0 20px;
  margin: 0;
}

.section-titles {
  font-size: 100%;
  font-weight: bold;
  margin: 15px auto 15px auto;
  color: #515151;
}

h6 {
  font-size: 110%;
  margin: 0 0 10px 0;
}

.address-section,
.payment-selection-section,
.order-summary-section {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  margin: 0;
  margin-bottom: 10px;
  /*padding: 10px;*/
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}
.order-summary-section{
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}
/* Left dets */
.left-dets-section {
  width: 30%;
}
.warning-div {
  padding: 15px 15px;
  background-color: #F04F60;
  color: #fff;
  border-radius: 4px;
  margin: 10px 20px;
  font-size: 90%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around
}
.warning-div p{
  line-height: 1;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.user-address-div {
  position: relative;
  display: block;
  min-height: 80px;
  padding: 10px 20px;
  height: auto;
  border-bottom: 2px solid #F2F5F6;
}
.user-address {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin: 0;
}
.left-dets-section label{
  width: 100%;
}
.address-container{
  position: relative;
  display: block;
  width: 100%;
}
.user-address-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.address-lines {
  margin-left: 10px;
}

.address-lines-title {
  margin: 0 0 10px 0;
  color: #000;
  font-weight: bold;
}

.address-edit-div {
  position: relative;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  width: 20%;
  height: 100%;
  min-height: 80px;
  margin: 0;
}
.d-edit-address{
  display: inline-block;
}
.edit-address,.d-edit-address {
  border: none;
  background-color: transparent;
  color: #6DA942;
}
.edit-address:hover,.d-edit-address{
  color: #588835;
}


/* Instructions section */

.instructions-div {
  position: relative;
  display: block;
  margin: 0;
  padding: 20px;
}

#delivery-instructions-input {
  width: 100%;
  height: 50px;
  resize: none;
  outline: none;
  font-size: 90%;
  padding: 5px 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}


/* Payments options */

.payment-selection-section {
  position: relative;
  display: block;
  padding: 4px 0 0 0;
}
.payment-options-ul .payment-li {
  padding: 10px 20px 10px 20px !important;
  /* border-bottom: 2px solid #F2F5F6; */
}

.payment-options-ul li label {
  height: 100%;
  width: 100%;
  font-weight: normal;
}

.payment-options-ul li:last-child {
  border-bottom: none;
}
.save-btns {
  border-radius: 5px;
  height: 35px;
  width: 80px;
  border: none;
  background-color: #6DA942;
  color: #fff;
  margin-right: 15px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.save-btns:hover{
  background-color: #588835;
}

/* Right dets */

.right-dets-section {
  width: 45%;
  margin-left: 30px;
}


/* Order Summary section */

/* .order-summary-body {} */

.delivery-on-statement {
  font-weight: bold;
  padding: 20px 0px 10px 0px;
  white-space: nowrap;
  word-wrap: none;
}

.delivery-items-div {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  margin: 10px auto 20px auto;
  padding: 0 20px;
}
.delivery-items-div>div{
  width: 100%;
}

.delivery-item {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px auto;
  height: auto;
}

.delivery-item-left {
  position: relative;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
  width: 55%;
  height: auto;
}

.delivery-item-image {
  position: relative;
  margin: 0;
  width: 150px;
  height: 100%;
  /* background-image: url('../../assets/menu-img/food.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.delivery-item-dets {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  font-size: 80%;
  width: auto;
  height: 100%;
  padding: 0px;
}
.delivery-item-dets>span {
  display:inline-block;
  text-align: left;
  margin: 0;
  margin-bottom: 7px;
}
.item-name-core{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.delivery-item-name {
  text-align: left;
  float: left;
  font-size: 105%;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #333;
  margin-right: 7px;
}
.delivery-item-name::after{
  content: ','
}
.delivery-item-name:last-child::after{
  content: '';
}
.delivery-item-price {
  font-size: 100%;
  color: #888;
}
.delivery-number-div{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.minus-btn{
  margin-right: 10px;
  background-color: transparent;
  color: #6DA942;
  border: 1px solid #6DA942;
  height: 20px;
  font-size: 80%;
}
.delivery-dets {
  position: relative;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: row;
  margin: 0;
  width: 45%;
  height: 100%;
}
.delivery-number-core{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.number-btns {
  border: none;
  background: transparent;
  color: #fa0000;
  margin: 0 7px;
  font-size: 130%;
}
.price-core {
  font-size: 110%;
  color: #515151;
}
.order-summary-body h6 {
  margin: 0px auto 10px auto;
}
.charges-div h6 {
  font-size: 100%;
}
.cost-core {
  font-size: 110%;
  color: #515151;
}
.rewards-div{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #F2F5F6;
}
.delivery-fee,
.total-pay,
.reward-points,.rewards-div {
  padding: 6px 20px;
}
.total-pay,.total-pay .cost-core{
  color: #6DA942;
}
.total-to-pay-div{
  font-weight: bold;
}
.total-to-pay-div .pull-left h6{
  font-weight: bold;
}

.total-pay,.rewards-div {
  margin-top: 6px;
}
.total-fee {
  padding: 10px 20px;
  border-bottom: 2px solid #F2F5F6;
}
.place-order-btn-div {
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}
.place-order-notif {
  position: relative;
  display: block;
  font-size: 90%;
  font-weight: normal;
  font-style: italic;
  width: 98%;
  margin: 5px 20px 10px 20px;
}
#place-order-button {
  position: relative;
  display: block;
  width: 98%;
  margin: 5px 1% 7px 1%;
  border: none;
  border-radius: 3px;
  background-color: #6DA942;
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
}
#place-order-button:hover{
  background-color: #588835;
}
/* Extra Small Devices, .visible-xs-* */
/* @media (max-width: 480px) {} */
@media (max-width: 767px) {
  .left-dets-section,
  .right-dets-section {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0%;
  }
  .delivery-item {
    max-height: auto;
    flex-direction: column;
  }
  .delivery-item-left,.delivery-dets{
    width: 100%;
  }
  .delivery-on-statement{
    white-space: normal;
    /* word-wrap: break-word; */
  }
  .delivery-on-statement span{
    display: block;
  }
  .db{
  display: none;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.wb{
  height: 300px;
  width: 330px;
  border-radius: 4px;
  background-color: #fff;
}
}


/* Small Devices, .visible-sm-* */

@media (min-width: 768px) and (max-width: 991px) {}


/* Medium Devices, .visible-md-* */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Large Devices, .visible-lg-* */

@media (min-width: 1200px) {}

