.title-img-div {
    background-image: url('../../assets/img/contact-us.jpg');
    background-size: cover;
    background-position: center;
}
.contact-core{
    position: relative;
    display: block;
}
.contact-core .bgw{
    position: relative;
    display: block;
    height: 100%;
    width: 500px;
    background-color: #fff;
    padding: 30px 30px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}
h6{
    font-size: 120%;
}
.b{
    margin-top: 20px;
    font-weight: bold;
}
p{
    font-size: 100%;
}
table img{
    height: 80px;
    margin-right: 30px;
}
.jumbotron{
    padding-top:0px !important;
}
@media screen and (min-width:220px) and (max-width:740px){
    .bgw{text-align: center;}
}
  
  