
<header class="main-header visible-md visible-lg">
  <div class="container">
    <div class="main-logo pull-left" routerLink='/home'>
      <img src="../../assets/logo/logo_black.png">
    </div>
    <ul class="list-inline det-ul visible-xs visible-sm pull-right">
      <!-- <li>
        <button type="button" class="dets-div-btns" id="loc-btn"> MADHAPUR &nbsp;</button>
      </li> -->
    </ul>
    <ul class="list-inline det-ul pull-left visible-md visible-lg">
      <!-- <li>
        <button type="button" class="dets-div-btns" id="loc-btn"> MADHAPUR &nbsp;</button>
      </li> -->
      <li>
        <a routerLink='/menu' class="dets-div-btns" id="our-menu-btn">Our Menu</a>
      </li>
      <!-- <li>
        <a class="dets-div-btns" id="schedule-menu-btn" (click)='schMenuBtn(schTrigBtn)'>Schedule Menu</a>
      </li> -->
    </ul>
    <div class="scroll-login-div pull-right  visible-md visible-lg">
      <ul class="list-inline sc-ul">
        <li class="login-trig-div" *ngIf="!authService.loggedIn()">
          <button type="button" class="login-signup-trig-btn dets-div-btns" (click)="appComponent.loginSignupTrigger()">Log in/Sign up</button>
        </li>
        <li class="account-trig-div" *ngIf="authService.loggedIn()">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Hi, {{userName}}&nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings'>My Profile</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/my-orders'>My Orders</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/address'>Saved Address</a></li>
              <!-- <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/payments'>Payments</a></li> -->
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/reward-points'>Reward Points</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/change-password'>Change Password</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" (click)="onLogoutClick()">Logout</a></li>
            </ul>
          </div>
        </li>
        <li class="head-basket" routerLink='/checkout'>
          Basket &nbsp; <span class="head-basket-num">{{basket_num}}</span> 
      </li>
      </ul>

    </div>
    <div class="clearfix"></div>
  </div>
</header>
<div class="con-section jumbotron">
  <div class="title-img-div">
    <div class="db"></div>
    <h2 class="web-sec-heads">CONTACT US</h2>
  </div>
  <div class="container">
    

    <div class="contact-core">
      <div class="bgw">
        <h6>Email : info@fysu.in</h6>

        <h6>Call : +91 9393290390</h6>

        <h6 class="b">Registered Address</h6>
        <p>
            Plot No. 42 <br>
            Navaratna Tower, RK Street<br>
            Vivekananda Nagar, Kukatpally<br>
            Hyderabad - 500072
        </p>
      </div>

    </div>


  </div>
</div>