.m-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    min-height: 90vh;
    text-align: center;
}
h2,h3{
    position: relative;
    display: block;
}
h2{
    color: #6DA942;
    font-size: 200%;
    font-weight: normal;
}
h3{
    color: #777;
    font-size: 130%;
    font-weight: normal;
}
p{
    margin-top: 40px;
    font-size: 80%;
    color: #777;
}