.container{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
h2,h3{
    position: relative;
    display: block;
}
h2{
    color: #f80000;
    font-size: 200%;
    font-weight: normal;
}
h3{
    color: #777;
    font-size: 130%;
    font-weight: normal;
}