<div *ngIf="!authService.loggedIn()">

<div class="fixed-dark-cover" id="login-fixed-dark-cover" (keydown)="hideFixedDarkCover($event)" (click)="checkAndClose($event)">
  <div class="email-input-div">
    <i class="fa fa-times" aria-hidden="true" (click)="mainClose()"></i>
    <h4>Let's get started!</h4>
    <!-- <label for="email" id="email-label">Email or Mobile</label><br> -->
    <input type="text" name="email" id="email" [(ngModel)]='initialLoginInput' placeholder="Email or Mobile">
    <p class="err"></p>
    <div class="ls-btns-div">
      <div class="ls-btns-core-div">
        <button type="button" class="ls-btns" id="continue-btn" (click)="firstConClick(initialLoginInput)">Continue</button>
        <!-- <button type="button" class="ls-btns close-btn" (click)="mainClose()">Close</button> -->
      </div>
    </div>
  </div>
</div>
<div class="fixed-dark-cover" id="next-reg-fixed-dark-cover" (keydown)="hideFixedDarkCover($event)" (click)="checkAndClose($event)">
  <div class="email-input-div">
    <i class="fa fa-times" aria-hidden="true" (click)="mainClose()"></i>
    <h4>We just need few more details</h4>
   
    <label for="reg-name" id="reg-name-label">Name</label>
    <input type="text" name="reg-name" class="next-inputs" id="reg-name" [(ngModel)]='regNameInput' placeholder=""><br>
    

    <label for="reg-email" id="reg-email-label">Email</label>
    <input type="text" name="reg-email" class="next-inputs" id="reg-email" [(ngModel)]='regEmailInput' placeholder=""><br>

    <label for="reg-mobile" id="reg-mobile-label">Mobile Number</label>
      <input type="text" class="next-inputs" [(ngModel)]='regMobileInput'
        name="reg-mobile" id="reg-mobile" placeholder="">

    <label for="reg-pwd" id="reg-pwd-label">Choose Password</label>
    <input type="password" name="reg-pwd" class="next-inputs" [(ngModel)]='regPwdInput' id="reg-pwd" placeholder=""><br>

    <span class="otp-span"><label for="reg-otp" id="reg-otp-label">Enter OTP</label>
    <input type="text" name="reg-otp" class="next-inputs"  [(ngModel)]='regOTPInput' id="reg-otp" (keyup)="otpKeyUp($event)" placeholder=""><br></span>

    <h5 id="reg-terms-agree">By continuing, you are accepting our <a routerLink='/terms' (click)='clickedOnTerms()'>Terms and Conditions</a></h5>
    <h5 class="resend-otp-txt" id="sign-resend-otp-text">
      <!-- You can resend otp in  seconds. -->
    </h5>
    <h5 class="resend-otp-trig" id="sign-resend" (click)="retryOtp('signup')">RESEND OTP</h5>

    <p class="err"></p>

    <div class="ls-btns-div">
      <div class="ls-btns-core-div">
        <button type="button" class="ls-btns" id="otp-btn" (click)="OtpBtnClick()">Send OTP</button>
        <button type="button" class="ls-btns" id="signup-btn" (click)="SignUpClick(regNameInput,regEmailInput,regMobileInput,regPwdInput,regOTPInput)"
          style="display:none">Register</button>
        <!-- <button type="button" class="ls-btns close-btn" (click)="mainClose()">Close</button> -->
      </div>
    </div>
  </div>
</div>

<div class="fixed-dark-cover" id="next-login-fixed-dark-cover" (keydown)="hideFixedDarkCover($event)" (click)="checkAndClose($event)">
  <div class="email-input-div" id="login-input-div">
    <i class="fa fa-times" aria-hidden="true" (click)="mainClose()"></i>
    <h4>We just need few more details</h4>
    <label for="login-email" id="login-email-label">Email or Mobile</label>
    <input type="text" name="login-email" class="next-inputs" id="login-email" [(ngModel)]='loginEmailInput' placeholder=""><br>

    <label for="login-password" id="login-password-label">Password</label>
    <input type="password" name="login-password" class="next-inputs" [(ngModel)]='loginPasswordInput' id="login-password" placeholder=""><br>
    <p class='forgot-pwd-trig' (click)="triggerForgotPwd()">Forgot Password ?</p>
    <p class="login-err err"></p>

    <div class="ls-btns-div">
      <div class="ls-btns-core-div">
        <button type="button" class="ls-btns" id="login-btn" (click)="LoginSubmit(loginEmailInput,loginPasswordInput)">Login</button>
        <!-- <button type="button" class="ls-btns close-btn" (click)="mainClose()">Close</button> -->
      </div>
    </div>
  </div>
</div>

<div class="fixed-dark-cover" id="fp-fixed-dark-cover" (keydown)="hideFixedDarkCover($event)" (click)="checkAndClose($event)">
  <div class="email-input-div">
    <i class="fa fa-times" aria-hidden="true" (click)="mainClose()"></i>
    <h4>We have sent an otp to your mobile</h4>
    <label for="otp" id="otp-label">Enter OTP</label><br>
    <input type="text" name="otp" id="otp" [(ngModel)]='fpOtpInput' placeholder="Enter OTP">
    <label for="email" id="email-label">Enter new password</label>
    <input type="text" name="email" id="fpnewpwd" [(ngModel)]='fpNewPwd' placeholder="New Password">

    <h5 class="resend-otp-txt" id="fp-resend-otp-text">
      <!-- You can resend otp in  seconds. -->
    </h5>
    <h5 class="resend-otp-trig" id="fp-resend" (click)="retryOtp('fp')">RESEND OTP</h5>

    <p class="fp-err err"></p>
    <div class="ls-btns-div">
      <div class="ls-btns-core-div">
        <button type="button" class="ls-btns" id="continue-btn" (click)="logNewPwd()">Continue</button>
        <!-- <button type="button" class="ls-btns close-btn" (click)="mainClose()">Close</button> -->
      </div>
    </div>
  </div>
</div>

</div>
<div class="mob-menu visible-sm visible-xs">
  <ul class="list-unstyled">
    <li class="reward-pts-trig-btn">
      REWARDS
    </li>
    <li  *ngIf="!authService.loggedIn()" (click)="appComponent.loginSignupTrigger()">
      LOGIN / SIGNUP
    </li>
    <li  *ngIf="authService.loggedIn()" (click)="onLogoutClick()">
      LOGOUT
    </li>
  </ul>
</div>

<router-outlet>

</router-outlet>
<footer class="main-footer">
  <nav class="footer-nav">
    <ul class="list-inline">
      <li><a routerLink='/home'>Home</a></li>
      <li><a routerLink='/about'>About us</a></li>
      <li><a routerLink='/privacy'>Privacy Policy</a></li>
      <li><a routerLink='/terms'>Terms and Conditions</a></li>      
      <li><a routerLink='/contact'>Contact us</a></li>
    </ul>
  </nav>
</footer>