<!-- Header for mobiles and smaller devices -->
<header class="mob-main-header visible-sm visible-xs">
  <button type="button" class="mob-menu-trig-btn">
      <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <div class="mob-main-logo" routerLink='/home'>
    <img src="../../assets/logo/logo.png">
  </div>
<span *ngIf="!authService.loggedIn()" (click)='loginSignupTrigger()'>
  <i style="color:white;font-size:20px;float:right;padding:20px;" class="fa fa-user-o" aria-hidden="true"></i>
</span>
<span  *ngIf="authService.loggedIn()" routerLink='/checkout'>
  <span class="mob-basket-div" style="color:white;font-size:20px;float:right;padding:20px;">
    <i  class="fa fa-shopping-basket" aria-hidden="true"></i> <span class="mob-basket-num">{{ basket_num }}</span>
  </span>
</span>
</header>


<div *ngIf="!authService.loggedIn()">

<div class="fixed-dark-cover" id="login-fixed-dark-cover" (keydown)="hideFixedDarkCover($event)" (click)="checkAndClose($event)">
  <div class="email-input-div">
    <i class="fa fa-times" aria-hidden="true" (click)="mainClose()"></i>
    <h4>Let's get started!</h4>
    <!-- <label for="email" id="email-label">Email or Mobile</label><br> -->
    <input type="text" name="email" id="email" class="initial-login-input" [(ngModel)]='initialLoginInput' placeholder="Email or Mobile" (keydown)='keyupped($event)'>
    <p class="err"></p>
    <div class="ls-btns-div">
      <div class="ls-btns-core-div">
        <button type="button" class="ls-btns" id="continue-btn" (click)="firstConClick(initialLoginInput)">CONTINUE</button>
        <!-- <button type="button" class="ls-btns close-btn" (click)="mainClose()">Close</button> -->
      </div>
    </div>
  </div>
</div>
<div class="fixed-dark-cover" id="next-reg-fixed-dark-cover" (keydown)="hideFixedDarkCover($event)" (click)="checkAndClose($event)">
  <div class="email-input-div">
    <i class="fa fa-times" aria-hidden="true" (click)="mainClose()"></i>
    <h4>We just need few more details</h4>
   
    <label for="reg-name" id="reg-name-label">Name</label>
    <input type="text" name="reg-name" class="next-inputs" id="reg-name" [(ngModel)]='regNameInput' placeholder="" (keydown)='keyupped($event)'><br>
    

    <label for="reg-email" id="reg-email-label">Email</label>
    <input type="text" name="reg-email" class="next-inputs" id="reg-email" [(ngModel)]='regEmailInput' placeholder="" (keydown)='keyupped($event)'><br>

    <label for="reg-mobile" id="reg-mobile-label">Mobile Number</label>
      <input type="text" class="next-inputs" [(ngModel)]='regMobileInput'
        name="reg-mobile" id="reg-mobile" placeholder="" (keydown)='keyupped($event)'>

    <label for="reg-pwd" id="reg-pwd-label">Choose Password</label>
    <input type="password" name="reg-pwd" class="next-inputs" [(ngModel)]='regPwdInput' id="reg-pwd" placeholder="" (keydown)='keyupped($event)'><br>

    <span class="otp-span"><label for="reg-otp" id="reg-otp-label">Enter OTP</label>
    <input type="text" name="reg-otp" class="next-inputs"  [(ngModel)]='regOTPInput' id="reg-otp" (keyup)="otpKeyUp($event)" placeholder="" (keydown)='keyupped($event)'><br></span>

    <h5 id="reg-terms-agree">By continuing, you are accepting our <a routerLink='/terms' (click)='clickedOnTerms()'>Terms and Conditions</a></h5>
    <h5 class="resend-otp-txt" id="sign-resend-otp-text">
      <!-- You can resend otp in  seconds. -->
    </h5>
    <h5 class="resend-otp-trig" id="sign-resend"> If you haven't got OTP - <span (click)="retryOtp('fp')">RESEND OTP</span></h5>

    <p class="err"></p>

    <div class="ls-btns-div">
      <div class="ls-btns-core-div">
        <button type="button" class="ls-btns" id="otp-btn" (click)="OtpBtnClick()">Send OTP</button>
        <button type="button" class="ls-btns" id="signup-btn" (click)="SignUpClick(regNameInput,regEmailInput,regMobileInput,regPwdInput,regOTPInput)"
          style="display:none">REGISTER</button>
      </div>
    </div>
  </div>
</div>

<div class="fixed-dark-cover" id="next-login-fixed-dark-cover" (keydown)="hideFixedDarkCover($event)" (click)="checkAndClose($event)">
  <div class="email-input-div" id="login-input-div">
    <i class="fa fa-times" aria-hidden="true" (click)="mainClose()"></i>
    <h4>Welcome Back!</h4>
    <label for="login-email" id="login-email-label" (keydown)='keyupped($event)'>Email or Mobile</label>
    <input type="text" name="login-email" class="next-inputs" id="login-email" [(ngModel)]='loginEmailInput' placeholder="" (keydown)='keyupped($event)'><br>

    <label for="login-password" id="login-password-label">Password</label>
    <input type="password" name="login-password" class="next-inputs" [(ngModel)]='loginPasswordInput' id="login-password" placeholder="" (keydown)='keyupped($event)'><br>
    <p class='forgot-pwd-trig' (click)="triggerForgotPwd()">Forgot Password?</p>
    <p class="login-err err"></p>

    <div class="ls-btns-div">
      <div class="ls-btns-core-div">
        <button type="button" class="ls-btns" id="login-btn" (click)="LoginSubmit(loginEmailInput,loginPasswordInput)">Login</button>
        <!-- <button type="button" class="ls-btns close-btn" (click)="mainClose()">Close</button> -->
      </div>
    </div>
  </div>
</div>

<div class="fixed-dark-cover" id="fp-fixed-dark-cover" (keydown)="hideFixedDarkCover($event)" (click)="checkAndClose($event)">
  <div class="email-input-div">
    <i class="fa fa-times" aria-hidden="true" (click)="mainClose()"></i>
    <h4>We have sent an OTP to {{mobileNumForfp}}</h4>
    <input type="text" name="otp" id="otp" [(ngModel)]='fpOtpInput' placeholder="Enter OTP" (keydown)='keyupped($event)'>
    <input type="password" name="email" id="fpnewpwd" [(ngModel)]='fpNewPwd' placeholder="New Password" (keydown)='keyupped($event)'>
    <input type="password" name="email" id="cfpnewpwd" [(ngModel)]='cfpNewPwd' placeholder="Confirm New Password" (keydown)='keyupped($event)'>

    <h5 class="resend-otp-txt" id="fp-resend-otp-text">
      <!-- You can resend otp in  seconds. -->
    </h5>
    <h5 class="resend-otp-trig" id="fp-resend"> If you haven't got OTP - <span (click)="retryOtp('fp')">RESEND OTP</span></h5>

    <p class="fp-err err"></p>
    <div class="ls-btns-div">
      <div class="ls-btns-core-div">
        <button type="button" class="ls-btns" id="fp-continue-btn" (click)="logNewPwd()">Continue</button>
        <!-- <button type="button" class="ls-btns close-btn" (click)="mainClose()">Close</button> -->
      </div>
    </div>
  </div>
</div>

</div>

<div class="mob-db">

</div>

<div *ngIf="!authService.loggedIn()">    
<div class="mob-menu visible-sm visible-xs">
  <ul class="list-unstyled">
      <a routerLink='/home'>
      <li class="reward-pts-trig-btn" (click)='closeMobMenu()'>
        HOME
      </li>
      </a>
      <!-- <a routerLink=''>
      <li class="reward-pts-trig-btn" (click)='closeMobMenu()'>
        OUR CONCEPT
      </li>
      </a> -->
      <a routerLink='/rewards'>
      <li class="reward-pts-trig-btn" (click)='closeMobMenu()'>
        REWARD POINTS
      </li>
      </a>
    <li (click)="loginSignupTrigger()">
      LOGIN / SIGNUP
    </li>
  </ul>
</div>
</div>

<div *ngIf="authService.loggedIn()">    
    <div class="mob-menu visible-sm visible-xs">
      <ul class="list-unstyled">
        <a routerLink="/settings">
          <li (click)='closeMobMenu()'>
            ACCOUNT
          </li>
        </a>
        <a routerLink="/checkout">
          <li (click)='closeMobMenu()'>
            BASKET
          </li>
        </a>
        <a routerLink="/menu">
          <li (click)='closeMobMenu()'>
            OUR MENU
          </li>
        </a>
        <!-- <a routerLink="/">
          <li>
            OUR CONCEPT
          </li>
        </a> -->
        <li  *ngIf="authService.loggedIn()" (click)="onLogoutClick()" class="">
          LOGOUT
        </li>
      </ul>
    </div>
    </div>

<router-outlet>

</router-outlet>
<footer class="main-footer">
  <nav class="footer-nav">
    <ul class="list-inline">
      <li><a routerLink='/home'>Home</a></li>
      <li><a routerLink='/about'>About us</a></li>
      <li><a routerLink='/privacy'>Privacy Policy</a></li>
      <li><a routerLink='/terms'>Terms and Conditions</a></li>      
      <li><a routerLink='/contact'>Contact us</a></li>
    </ul>
  </nav>
</footer>