.db{
    z-index: 100;
    position: fixed;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
}
.dets-div{
    position: relative;
    display: block;
    height: 80%;
    width: 80%;
    background-color: #fff;
    color:#000;
}
.det-close{
    position: absolute;
    display: block;
    top:5%;
    left: 95%;
    color: #fff;
    font-size: 240%;
    cursor: pointer;
}
.address-cell{
    width: 200px;
}