.sc-ul{
  margin-bottom: 0px !important;
}
.main-container {
  position: relative;
  display: block;
  background-color: #F2F5F6;
  margin-top: 70px;
  min-height: 82vh;
  padding-bottom: 30px;
  overflow: hidden;
  background-image: url('../../assets/img/mbg.png');
  background-size: auto;
}
h2{
  color: #333333
}


/* Change pwd btn in profile */

.change-pwd-btn {
  color: #F04F5E !important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.change-pwd-btn:hover {
  color: #353637 !important;
}


/*  Left Index  */

.left-index-div {
  position: relative;
  display: block;
  width: 20%;
  height: auto;
  padding: 0;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

.left-index {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
}

.left-index li {
  padding: 15px 20px;
  font-size: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.left-index #li{
  border-bottom: none;
}

.left-index a {
  text-decoration: none;
  color: inherit;
}

.left-index a:hover {
  text-decoration: none;
}

.left-index li h2 {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.left-index li:hover {
  cursor: pointer;
  background-color: #d9dcdd;
}

.selected-index-item {
  font-weight: bold;
}


/* Right Details */

.right-dets {
  position: relative;
  display: block;
  width: 78%;
  /* font-size: 130%; */
}

.det-title-div {
  background-color: #fff;
  border-radius: 4px;
  padding: 15px 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

.det-title {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}

.dets-core {
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px 20px;
  width: 100%;
  text-align: left;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

.dets-core label {
  display: block;
  text-align: left;
  font-size: 105%;
  font-weight: normal;
  margin: 10px auto;
}

.dets-core .inputs {
  width: 100%;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0 10px;
}

.save-btns-div {
  position: relative;
  margin: 20px 0;
}

.save-btns {
  border-radius: 5px;
  height: 40px;
  width: 120px;
  border: none;
  background-color: #6DA942;
  color: #fff;
  margin-right: 15px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.save-btns:hover{
  background-color: #588835;
}


/* Address page */

.addresses-core {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.address-item,
.add-address {
  position: relative;
  display: inline-flex;
  display: -webkit-inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 4px;
  padding: 20px;
  width: 300px;
  height: 200px;
  margin: 20px auto;
}

.address-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.address-top {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  height: 20%;
  width: 100%;
  color: #c6c6c6;
  margin: 0;
}

.address-top i {
  cursor: pointer;
}

.address-name {
  color: #fa0000;
}

.address {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  flex-direction: column;
  height: 80%;
  width: 100%;
  margin: 0;
}

.address h6 {
  font-size: 110%;
}

.add-address {
  background-color: #DCDCDC;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.add-address:hover {
  cursor: pointer;
  background-color: #e3e3e3;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.add-address h5 {
  font-size: 120%;
}

.add-address i {
  font-size: 200%;
}

.bottom-div {
  position: relative;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: auto;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.err{
  margin:0;
  padding: 0;
}
.change-pwd-btn {
  border: none;
  /* border-bottom: 1px solid #00f; */
  background: transparent;
  color: #0000af;
}
.mob-acc-dropdown{
  position: relative;
  display: block;
  margin: 10px auto;
  background-color: #fff;
  text-align: center;
  color: #666;
  font-size: 120%;
  padding: 15px 0px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}
.mob-acc-dropdown a{
  width: 100%;
  height: 100%;
  color: #666;
}
.mob-acc-dropdown ul{
  padding-bottom: 0;
  width: 80vw;
}
.mob-acc-dropdown .dropdown-menu{
  left: 50%;
  transform: translateX(-50%);
  font-size: 100%;
}
.mob-acc-dropdown .dropdown-menu li{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  white-space: nowrap;
  font-weight: normal;
}


/* Extra Small Devices, .visible-xs-* */


/* @media (max-width: 480px) {} */

@media (max-width: 767px) {
  .main-footer {
    margin-bottom: 40px;
  }
  .main-container {
    padding-top: 40px;
    /* margin-top: 50px; */
  }
  .left-index-div {
    position: relative;
    display: block;
    width: 100%;
    margin: 20px auto;
  }
  .left-index-div .left-index {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .right-dets {
    position: relative;
    display: block;
    width: 100%;
    margin: 20px auto;
  }
  .right-dets .det-title-div,
  .right-dets .dets-core {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .dets-core .inputs {
    width: 100%;
  }
  .bottom-div .save-btns-div {
    position: relative;
    display: block;
    width: 100%;
    margin: 20px auto;
  }
  .bottom-div .save-btns-div .save-btns {
    width: 40%;
  }
}


/* Small Devices, .visible-sm-* */

@media (min-width: 768px) and (max-width: 991px) {
  .left-index-div {
    position: relative;
    display: block;
    width: 100%;
    margin: 20px auto;
  }
  .left-index-div .left-index {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .right-dets {
    position: relative;
    display: block;
    width: 100%;
    margin: 20px auto;
  }
  .right-dets .det-title-div,
  .right-dets .dets-core {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .dets-core .inputs {
    width: 80%;
  }
  .bottom-div .save-btns-div {
    position: relative;
    display: block;
    width: 100%;
    margin: 20px auto;
  }
  .bottom-div .save-btns-div .save-btns {
    width: 40%;
  }
}


/* Medium Devices, .visible-md-* */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Large Devices, .visible-lg-* */

@media (min-width: 1200px) {}

