<!-- Orders Section -->
<div class="orders-section">
  <h3>Reward Points</h3>
  <label for="admin-name">User Email :</label>
  <input type="text" [(ngModel)]='userName' value="">
  <label for="admin-new-pwd">Points to be added :</label>
  <input type="integer" [(ngModel)]='points' value=""><br><br>
  <button type="button" class="c-btns" (click)='addRewardPoints()'>SUBMIT</button>

  <h4>Users</h4>
  <table class="table-striped view-sub-table">
    <tr *ngFor="let user of allUsers">
      <td>
        {{user.name}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        <i class="fa fa-times cat-close-btn" aria-hidden="true" (click)="deleteUser(user._id)"></i>
      </td>
    </tr>
  </table>
</div>