
<header class="main-header visible-md visible-lg">
  <div class="container">
    <div class="main-logo pull-left" routerLink='/home'>
      <img src="../../assets/logo/logo_black.png">
    </div>
    <ul class="list-inline det-ul visible-xs visible-sm pull-right">
      <!-- <li>
        <button type="button" class="dets-div-btns" id="loc-btn"> MADHAPUR &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i> </button>
      </li> -->
    </ul>
    <ul class="list-inline det-ul pull-left visible-md visible-lg">
      <!-- <li>
        <button type="button" class="dets-div-btns" id="loc-btn"> MADHAPUR &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i> </button>
      </li> -->
      <li>
        <a routerLink='/menu' class="dets-div-btns" id="our-menu-btn">Our Menu</a>
      </li>
    </ul>
    <div class="scroll-login-div pull-right  visible-md visible-lg">
      <ul class="list-inline sc-ul">
        <li class="login-trig-div" *ngIf="!authService.loggedIn()">
          <button type="button" class="login-signup-trig-btn dets-div-btns" (click)="appComponent.loginSignupTrigger()">Log in/Sign up</button>
        </li>
        <li class="account-trig-div" *ngIf="authService.loggedIn()">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Hi, {{userName}}&nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings'>My Profile</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/my-orders'>My Orders</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/address'>Saved Address</a></li>
              <!-- <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/payments'>Payments</a></li> -->
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/reward-points'>Reward Points</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink='/settings/change-password'>Change Password</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" (click)="onLogoutClick()">Logout</a></li>
            </ul>
          </div>
        </li>
        <li class="head-basket" routerLink='/checkout'>
          Basket &nbsp; <span class="head-basket-num">{{basket_num}}</span> 
        </li>
      </ul>

    </div>
    <div class="clearfix"></div>
  </div>
</header>
<div class="con-section jumbotron">
    <h2 class="web-sec-heads">TERMS AND CONDITIONS</h2>
  <div class="container">
    <p>
     Kindly go through these terms and conditions carefully before using the www.fysu.in website. These terms shall apply to your use of the website and all the associated services we may offer, whether directly through the website or otherwise.
    </p>

    <p>
      The user must agree to the terms and conditions to avail the services offered at our website. These Terms shall apply to all visitors, users and others who access or use our service.
    </p>
    <p>
     By accessing or using our website, you are abiding by these Terms &amp; Conditions. If you disagree with any part of the Terms &amp; Conditions then you may not access the website. Kindly check the Terms of Use for any amendments or updates to the terms and conditions regularly.
    </p>
    
    <h3>General Conditions</h3>
    <ul>
      <li>
          The purpose of the website is to provide a platform to deliver lunch, and to facilitate the ordering of lunch to be provided to you.
      </li>
      <li>
         You can place your order by following the instructions provided on the website.
      </li>
      <li>
          Once you place an order, you will receive a message confirming that your order has been placed. 
      </li>
      <li>
        You cannot cancel your order at fysu for same day delivery, no refund of the full purchase price. Cancellations and refunds are accepted for scheduled meals by calling our customer support team.
      </li>
      <li>
         If you are dissatisfied for any reason, we're here to help. Just call us at +91 9393290390 or contact us via e-mail at info@fysu.in.
      </li>
      <li>
        Cancellation of order for scheduled meals will be entertained till 12 hours before your delivery slot starts by email or by a call to customer service.
      </li>
      <li>
         All meals are subject to availability. Your order is guaranteed once you receive a confirmation message from us.
      </li>
      <li>
        You agree that delivery estimated time is just estimate and we are not liable for any variations (+/- 30 minutes) in the same.
      </li>

    </ul>

    <h3>Returns and Refunds</h3>
    <h4>Returns</h4>
    <ul>
      <li>
         We will facilitate the return and replacement of items if you have received an incorrect order.
      </li>
      <li>
        In case you wish to not have the items replaced, and you have already made the payment for such orders we will facilitate a full refund from Fysu.
      </li>
      <li>
         As a general rule you shall not be entitled to cancel your order once you have received confirmation for the same day delivery.
      </li>
      <li>
         We reserve the sole right to cancel your order in the following circumstance:
          <ol>
            <li>in the event of the designated address following outside the delivery zone offered by us.</li>
            <li>failure to contact you by phone or email at the time of confirming the order booking.</li>
            <li>failure to deliver your order due to lack of information, direction or authorization from you at the time of delivery; or
            </li>
            <li>
              unavailability of all the items ordered by you at the time of booking the order; or failure due to reasons beyond our control or attributable to the Food service provider
            </li>
          </ol>
      </li>

    </ul>
    <h4>Refunds</h4>
    <ul>
      <li>
        You shall be entitled to a refund only if you pre-pay for your order at the time of placing your order on the Services and only in the event of any of the following circumstances:
        <ul>
          <li>
             your order packaging has been tampered or damaged at the time of delivery;
              <ol>
                <li>Cancelling the order for scheduled meals by email or by calling to customer service before 12 hours when your delivery slot start
                </li>
                <li>
                   you cancelling the order at the time of confirmation due to unavailability of the items you ordered for at the time of booking.
                </li>
              </ol>
          </li>
        </ul>
      </li>
      <li>
         Our decision on refunds shall be at our sole discretion and shall be final and binding.
      </li>
      <li>
        All refund amounts shall be credited to your account within 5 business days in accordance with the terms that may be stipulated by the bank which has issued the credit / debit card.
      </li>
      <li>
         In case of payment at the time of delivery, you will not be required to pay for:
         <ol>
           <li>
             orders where the packaging has been tampered or damaged by us;
           </li>
           <li>
             wrong order being delivered; or
           </li>
           <li>
             items missing from your order at the time of delivery.
           </li>
         </ol>
      </li>
    </ul>

    <h3>Governing Law</h3>
    <p>
      These Terms of Service and any separate agreements whereby we provide you Services shall be governed by and construed in accordance with the laws of India and jurisdiction of Hyderabad, Telangana.
    </p>
    <h3>Acceptable Use Policy</h3>
    <ul>
      <li>
        You agree not to use the website that causes damage to Fysu, whether reputational, security, financial, or otherwise hacking or other cyber threats, violating any rights, sending unauthorized spam, junk mail, compiling information about our users, interfering with our network infrastructure, introducing scripts or other programs to produce multiple accounts, generate multiple queries, or otherwise use the website for purposes other than the intended purpose.
      </li>
      <li>
        Unless authorized by us, you agree not to copy, reproduce, distribute, post, or transmit in any form or by any means any of the content provided by the service.
      </li>
    </ul>
    <h3>Electronic Communication</h3>
    <p>When you visit our website (www.fysu.in) or send us mails, you consent to receive our regular promotional and order related e-mail and SMS. Once you place the order, we shall confirm you with the primary medium we will be using to communicate with you (either e-mail or SMS). You can always unsubscribe the daily email and SMS.</p>

    <h3>
       Fysu Reward Points
    </h3>
    <ul>
      <li>
        To avail of reward points a user needs to be a registered customer who has created an account through the "Sign In" tab on the website – fysu.in
      </li>
      <li>
         You can redeem them when you reach to 100 points.
      </li>
      <li>
         Reward points are valid for 6 months from the day they are assigned to you.
      </li>
      <li>
        Fysu Food Networks Pvt Ltd ("Fysu") Reserves the right to change the terms, conditions and the reward points to be awarded at their discretion.
      </li>
    </ul>

    <h3>
       Changes to Terms & Conditions
    </h3>
    <p>
      We reserve the rights to modify or update these Terms & Conditions any time without notice. Changes shall be effective immediately upon posting on the website. So, you are advised to review these Terms & Conditions every time upon placement of order. By accessing or using our website, you abide by the terms. If you do not agree to the new terms, kindly stop using the website.
    </p>

    <h3>
       Indemnification, Disclaimers and Limitation on Liability
    </h3>
    <ul>
      <li>
        You agree to indemnify and hold us harmless - us, our team, affiliates, clients and suppliers from any claim or demand made by any third party arising out of breach of these Terms including attorneys’ fees and costs, your interactions with any Partner, or your violation of these Terms or applicable laws.
      </li>
      <li>
        The service is provided “as-in” and “as available.” We expressly disclaim any express or implied warranties and conditions of any kind.
      </li>
      <li>
        In no event shall we be liable to you or any third party for any lost profits or any indirect, consequential, exemplary, incidental, special or punitive damages arising from or relating to this agreement or your use of, or inability to use, the service, even if we have been advised of the possibility of such damages. You hereby release and forever discharge us (and our officers, employees, agents, successors, and assigns) from, and hereby waive and relinquish, each and every past, present and future dispute, claim, controversy, demand, right, obligation, liability, action and cause of action of every kind and nature (including personal injuries, death, and property damage), that has arisen or arises directly or indirectly out of, or relates directly or indirectly to, any interactions with, or act or omission of, other website users.
      </li>

    </ul>

    <h3>
       Agreement
    </h3>
    <ul>
      <li>
         These Terms &amp; Conditions consist the entire agreement between us. You shall abide by them.
      </li>
      <li>
        All notices, requests, complaints and other communications here shall be made in writing (e.g., via email).
      </li>
    </ul>
    <h3>
       Contact Us
    </h3>
    <p>
      We are sure you would love our food. In case you were not happy or if you have any questions about these Terms, please contact us at info@fysu.in 
    </p>

  </div>
</div>